{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a href="{{ path('project_new') }}">
                                        New Project
                                    </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-8">

            <h1>{{ entity.name }}</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('checkpoint_new', { 'id': entity.id }) }}" class="float-sm-right btn btn-primary">
                    Add Checkpoint
                </a>
                <a href="{{ path('project_edit', { 'id': entity.id }) }}"
                   class="float-sm-right btn btn-primary">Edit</a>
            {% endif %}
            <p>{{ entity.type }} {{ entity.timeframe }} </p>
            <p>{{ entity.description | raw }}</p>

            {% for checkpoint in entity.checkpoints %}
                <div class="card">
                    <div class="card-header">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('checkpoint_edit', { 'id': checkpoint.id }) }}"
                               class="float-sm-right btn btn-primary">Edit</a>
                        {% endif %}
                        <h4 class="card-title">
                            {{ checkpoint.name }}

                        </h4>
                        <p>Timeframe: {{ checkpoint.timeframe }}
                            {% if checkpoint.deadline %}Deadline: {{ checkpoint.deadline|date('Y-m-d H:i:s') }}{% endif %}
                            Status: {{ checkpoint.status }}
                        </p>
                        <p>Reviewers: {% for reviewer in checkpoint.reviewers %}
                                {% if app.user.username == reviewer.username %}
                                    <a href="{{ path('review_new', { 'checkpointid': checkpoint.id, 'reviewerid': reviewer.id }) }}"
                                       class="">{{ reviewer.firstname }} {{ reviewer.lastname }}</a>{% else %}{{ reviewer.firstname }} {{ reviewer.lastname }}{% endif %}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="card-block">

                        {{ checkpoint.description |raw }}

                        {% for review in checkpoint.reviews %}
                            <div class="card">
                                <div class="card-header">
                                    Review by {{ review.reviewer.name }} Recommended Status: {{ review.status }}
                                    {% if app.user.username == review.reviewer.username %}
                                    <a href="{{ path('review_edit', { 'id': review.id }) }}"
                                       class="float-sm-right btn btn-primary">Edit</a>
                                    {% endif %}
                                </div>
                                <div class="card-block">
                                    <p>{{ review.body | raw }}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}

