{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $(".hidden").hide();
            $(".card-title").click(function () {
                $(this).parent().next().toggle();
                $(this).next().toggle();
            });
        });
    </script>
{% endblock %}


{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a href="{{ path('project_new') }}">
                                        New Project
                                    </a></li>
                                <li class="nav-item"><a href="{{ path('project') }}">
                                        Active Projects
                                    </a></li>
                                <li class="nav-item"><a href="{{ path('project') }}">
                                        Completed Projects
                                    </a></li>
                                <li class="nav-item"><a href="{{ path('checkpoint') }}">
                                        Checkpoints by Date
                                    </a></li>
                                <li class="nav-item"><a href="{{ path('event', {"section":"events"}) }}">Calendar</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-8">

            <h1 class="inline">{{ entity.name }}</h1>
            <span class="btn btn-secondary">Type: {{ entity.type }}</span>
            <span class="btn btn-secondary">Timeframe: {{ entity.timeframe }}</span>
            <span class="btn btn-secondary">Status:{{ entity.status }}</span>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('checkpoint_new', { 'id': entity.id }) }}" class="btn btn-primary">
                    Add Checkpoint
                </a>
                <a href="{{ path('project_edit', { 'id': entity.id }) }}"
                   class="btn btn-primary">Edit</a>
                <a href="{{ path('project_duplicate', { 'id': entity.id }) }}"
                   class="btn btn-primary">
                    Renew
                </a>
            {% endif %}
            {{ entity.description | raw }}




            {% for checkpoint in entity.checkpoints if checkpoint.status != 'Archived' %}
                <div class="card">
                    <div class="card-header {% if checkpoint.status=='Complete' %}success{% endif %}">
                        <p class="card-title margin-top">
                            <a href="javascript:void(0)" title="click to toggle">
                                {{ checkpoint.name }}
                            </a>
                            {% if checkpoint.status=='Complete' %}
                                <span class="float-sm-right">
                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                    {{ checkpoint.completed|date('m-d-Y h:i A') }}
                                </span>
                            {% endif %}
                        <span class="float-sm-right {% if checkpoint.status=='Complete' %}hidden{% endif %}">
                            {% if checkpoint.deadline %}
                                {% if "now"|date('Y-m-d') > checkpoint.deadline|date|date('Y-m-d') %}
                                    {% set alert %}alert-danger{% endset %}
                                {% else %}
                                    {% set alert %}alert-info{% endset %}
                                {% endif %}
                                <span class="alert {{ alert }}">Deadline: {{ checkpoint.deadline|date('m-d-Y h:i A') }}</span>
                            {% endif %}
                        </span>
                        </p>
                    </div>
                    <div class="card-block {% if checkpoint.status=='Complete' %}hidden{% endif %}">
                        {{ checkpoint.description |raw }}
                        <hr/>
                        <p>
                            Reviewers:
                            {% for reviewer in checkpoint.reviewers %}
                                {% if app.user.username == reviewer.username %}
                                    <a
                                    href="{{ path('review_new', { 'checkpointid': checkpoint.id, 'reviewerid': reviewer.id }) }}"
                                    class="">{{ reviewer.firstname }} {{ reviewer.lastname }}</a>{% else %}{{ reviewer.firstname }} {{ reviewer.lastname }}{% endif %}{% if not loop.last %},{% endif %}
                            {% endfor %}
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if checkpoint.status!='Complete' %}
                                    <a href="{{ path('checkpoint_complete', { 'id': checkpoint.id }) }}"
                                       class="float-sm-right btn btn-primary">Complete</a>
                                {% endif %}
                                <a href="{{ path('checkpoint_edit', { 'id': checkpoint.id }) }}"
                                   class="float-sm-right btn btn-primary">Edit</a>
                            {% endif %}
                        </p>

                        {% for review in checkpoint.reviews %}
                            {% set review_background %}
                                {% if review.status=='Complete' %}#e4ffe8
                                {% else %}#ffffe6
                                {% endif %}
                            {% endset %}
                            <div class="card">
                                <div class="card-header" style="background-color: {{ review_background }}">
                                    Review by {{ review.reviewer.name }}
                                    <span class="btn btn-secondary">
                                        Recommended Status: {{ review.status }}
                                    </span>
                                    {% if review.status=='Complete' %}
                                        <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if app.user.username == review.reviewer.username %}
                                        <a href="{{ path('review_edit', { 'id': review.id }) }}"
                                           class="float-sm-right btn btn-primary">Edit</a>
                                    {% endif %}
                                </div>
                                <div class="card-block">
                                    <p>{{ review.body | raw }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}

