{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $.tablesorter.themes.bootstrap = {
                table: 'table table-bordered table-striped',
                caption: 'caption',
                header: 'bootstrap-header',
                iconSortNone: 'bootstrap-icon-unsorted',
                iconSortAsc: 'glyphicon glyphicon-chevron-up',
                iconSortDesc: 'glyphicon glyphicon-chevron-down',
            };
            $("table").tablesorter({
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: ["uitheme", "filter", "zebra"],
                widgetOptions: {
                    zebra: ["even", "odd"],
                    filter_reset: ".reset",
                    filter_cssFilter: "form-control",
                },
                headers: {
                    5: {sorter: false, filter: false},
                }
            });
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Capstone</th>
                    <th>Owners</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('capstone_show', { 'id': entity.user.id }) }}">{{ entity.title }}</a></td>
                        <td>{{ entity.user.name }}{% if entity.users|length > 0 %}, {% endif %}{% for user in entity.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                        </td>
                        <td>{{ entity.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
