{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $.tablesorter.themes.bootstrap = {
                table: 'table table-bordered table-striped',
                caption: 'caption',
                header: 'bootstrap-header',
                iconSortNone: 'bootstrap-icon-unsorted',
                iconSortAsc: 'glyphicon glyphicon-chevron-up',
                iconSortDesc: 'glyphicon glyphicon-chevron-down',
            };
            $("table").tablesorter({
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: ["uitheme", "zebra"],
                widgetOptions: {
                    zebra: ["even", "odd"]
                }
           });
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            <li class="nav-item"><a href="{{ path('capstone',  { 'type':'Peer' }) }}">Ready for Peer Review</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item"><a href="{{ path('capstone',  { 'type':'Director' }) }}">Ready for Director Review</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-9">


            <table class="table">
                <thead>
                <tr>
                    <th>Name Email</th>
                    <th>Capstone Status</th>
                    <th>Peer Reviews</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user.firstname }}, {{ entity.user.lastname }}</a> {{ entity.user.email }}</td>

                        <td>{{ entity.status }}</td>
                        <td>{% if entity.responsesets|length > 0 %}
                                {% for responseset in entity.responsesets %}
                                    <a href="{{ path('responseset_show',  { 'id': responseset.id }) }}">
                                        {{ responseset.user.firstname }} {{ responseset.user.lastname }}{% if not loop.last %}, {% endif %}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
