<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1">
    <title>{% block title %}Sustainability Certificate{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
              integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"
              crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link type="text/css" rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/css/theme.bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/local.css') }}">
    {% endblock %}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>

<div class="container-fluid">
    <div class="row">


        {% block body -%}
        <div class="col-sm-12 col-xs-12">

            <h2>Capstone:  {{ entity.title }}</h2>


            {#  ***********************  Project *********************** #}

            <div class="card-block">
                <div class="toggle" id="project_div">
                    <h4>Project</h4>

                    {% for tag in entity.tags %}
                        <div class="btn btn-primary btn-sm tag{{ tag.id }}"
                             style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                    {% endfor %}

                    <table class="table margin-top">
                        <tbody>
                        <tr>
                            <th>Description</th>
                            <td>{{ entity.description|raw }}</td>
                        </tr>
                        <tr>
                            <th>Mentors/Sustainability Reps</th>
                            <td>{% for mentor in entity.capstoneMentor %}{{ mentor.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Group Members</th>
                            <td>{{ entity.user.name }}{% if entity.users|length > 0 %}, {% endif %}{% for user in entity.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Main Purpose</th>
                            <td>{{ entity.purpose|raw }}</td>
                        </tr>
                        <tr>
                            <th>Background and Context</th>
                            <td>{{ entity.background|raw }}</td>
                        </tr>
                        <tr>
                            <th>Contribution to Sustainability</th>
                            <td>{{ entity.contribution|raw }}</td>
                        </tr>
                        <tr>
                            <th>Special Considerations</th>
                            <td>{{ entity.considerations|raw }}</td>
                        </tr>
                        <tr>
                            <th>Potential Information Sources</th>
                            <td>{{ entity.sources|raw }}</td>
                        </tr>
                        <tr>
                            <th>Desired Team Qualifications</th>
                            <td>{{ entity.qualifications|raw }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>

            {#  ***********************  Workplan  *********************** #}
            <div class="toggle" id="workplan_div">

                <h4>Work Plan</h4>


                <table class="table margin-top">
                    <tbody>
                    <tr>
                        <th>Mentor Involvement</th>
                        <td>{{ entity.mentorExpectations|raw }}</td>
                    </tr>
                    <tr>
                        <th>Resources/Partners</th>
                        <td>{{ entity.partners|raw }}</td>
                    </tr>
                    <tr>
                        <th>Targets</th>
                        <td>{{ entity.objectives|raw }}</td>
                    </tr>
                    <tr>
                        <th>Indicators</th>
                        <td>{{ entity.successMetrics|raw }}</td>
                    </tr>
                    <tr>
                        <th>Deliverables</th>
                        <td>{{ entity.deliverables|raw }}</td>
                    </tr>
                    <tr>
                        <th>Expected Completion Date</th>
                        <td>{{ entity.timeframe }}</td>
                    </tr>
                    <tr>
                        <th>After Completion</th>
                        <td>{{ entity.completion|raw }}</td>
                    </tr>
                    <tr>
                        <th>Repeatable/Extendable</th>
                        <td>{{ entity.repeatable }}</td>
                    </tr>
                    <tr>
                        <th>Repeatable/Extendable Information</th>
                        <td>{{ entity.repeatinfo|raw }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ entity.status }}<a name="reviews"></a></td>
                    </tr>
                    <tr>
                        <th>Last Updated</th>
                        <td>{{ entity.updated |date("m/d/Y g:ia") }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            {#  *********************** entity Timeline (aka Checkpoints)  *********************** #}
            <div class="toggle" id="checkpoints_div">

                <h4>Timeline</h4>


                {% for checkpoint in entity.project.checkpoints %}
                    <div class="card margin-top checkpoints_card">
                        <div class="card-header">

                            <h4 class="card-title">
                                {{ checkpoint.name }}
                            </h4>

                            <p class="">
                                {% if checkpoint.deadline %}
                                    Deadline: {{ checkpoint.deadline|date('m-d-Y h:i A') }}
                                {% endif %}
                                {% if checkpoint.lead != '' %}
                                    Lead: {{ checkpoint.lead }}
                                {% endif %}
                                {{ checkpoint.description|raw }}
                            </p>
                            <hr/>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
    {% endblock %}
</div>
</div>
</body>
</html>