{% extends 'AppBundle:User:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            {#{% if capstone %}#}
            {#{% if capstone.responsesets %}#}
            {#{% for responseset in capstone.responsesets %}#}
            {#$("#review{{ loop.index }}_toggle").click(function () {#}
            {#$(".review_toggle").hide();#}
            {#$("#review{{ loop.index }}_div").show();#}
            {#});#}
            {#{% endfor %}#}
            {#{% endif %}#}
            {#{% endif %}#}
            $("#project_toggle").click(function () {
                $("a").removeClass('active');
                $("#project_toggle").addClass('active');
                $("#project_div").show();
                $("#workplan_div").hide();
                $("#checkpoints_div").hide();
                $("#reviews_div").hide();

            });
            $("#workplan_toggle").click(function () {
                $("a").removeClass('active');
                $("#workplan_toggle").addClass('active');
                $("#workplan_div").show();
                $("#project_div").hide();
                $("#checkpoints_div").hide();
                $("#reviews_div").hide();

            });
            $("#checkpoints_toggle").click(function () {
                $("a").removeClass('active');
                $("#checkpoints_toggle").addClass('active');
                $("#workplan_div").hide();
                $("#project_div").hide();
                $("#checkpoints_div").show();
                $("#reviews_div").hide();
            });
            $("#reviews_toggle").click(function () {
                $("a").removeClass('active');
                $("#reviews_toggle").addClass('active');
                $("#workplan_div").hide();
                $("#project_div").hide();
                $("#checkpoints_div").hide();
                $("#reviews_div").show();
            });
            $("#checkpoints_div").hide();
            $("#reviews_div").hide();
            $("#workplan_div").hide();
            $(".card-title").click(function () {
                $(this).parent().next().toggle();
                $(this).next().toggle();
            });
            $(".hidden").hide();
        });
    </script>
{% endblock %}


{% block body -%}
    {{ parent() }}
    <div class="col-sm-12">
        {% for capstone in capstones if capstone.status!='Inactive'%}
            {#  *********************** Capstone  *********************** #}
            <h2 class="margin-top">Capstone
                for {{ entity.firstname }} {{ entity.lastname }} {% if capstone %}({{ capstone.status }}){% endif %}</h2>

            {#  *********************** Capstone Progress buttons  *********************** #}
            <div class="margin-bottom" role="group"
                 aria-label="Capstone Progress Buttons">
                {# Update the work plan (always available) #}
                {% if capstone %}
                    <a title="Update your capstone" class="btn btn-primary"
                       href="{{ path('capstone_edit',  { 'id': capstone.id, 'part': 'project' }) }}">
                        Update Project
                    </a>
                    <a title="Update your capstone" class="btn btn-primary"
                       href="{{ path('capstone_edit',  { 'id': capstone.id, 'part': 'workplan' }) }}">
                        Update Work Plan
                    </a>
                    <a title="Update your capstone" class="btn btn-primary"
                       href="{{ path('capstone_pdf',  { 'id': entity.id }) }}">
                        Create PDF
                    </a>
                {% endif %}
                {% if entity.program %}
                    {% if app.user.username==entity.program.user.username or is_granted('ROLE_SUPER_ADMIN') %}

                        {% if capstone %}
                            {# Mark Ready for Peer or Director Review #}
                            {#<a class="btn btn-primary {% if capstone.status == 'Ready for Director Review' or capstone.status == 'Approved'#}
                            {#or capstone.status == 'Ready for Peer Review' or capstone.status == 'Completed' %}hidden{% endif %}"#}
                            {#href="{{ path('capstone_ready',  { 'id': capstone.id , 'type':'Peer'}) }}">#}
                            {#Ready for Review#}
                            {#</a>#}

                            {#<a class="btn btn-primary {% if capstone.responsesets|length < 2 or capstone.status == 'Ready for Director Review' or capstone.status == 'Approved'#}
                            {#or capstone.status == 'Completed' %}hidden{% endif %}"#}
                            {#href="{{ path('capstone_ready',  { 'id': capstone.id, 'type':'Director' }) }}">#}
                            {#Ready for Director#}
                            {#</a>#}
                            <a class="btn btn-primary align-right"
                               href="{{ path('capstone_ready',  { 'id': capstone.id, 'type':'Completed' }) }}">
                                Mark Completed
                            </a>

                            {# Director workplan approval #}
                            {% if is_granted('ROLE_SUPER_ADMIN') and capstone.status != 'Approved' %}
                                <a title="Approve this capstone"
                                   class="float-sm-right btn btn-primary {% if capstone.status != 'Approved' %}{% else %}disabled{% endif %}"
                                   href="{{ path('capstone_approve',  { 'id': capstone.id }) }}">
                                    Approve Work Plan
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

            {#  *********************** Capstone Instructions  *********************** #}
            {#<div class="alert alert-info margin-top" role="alert">#}
            {#{% if app.user.username != entity.program.user.username %}#}
            {#<p><strong>Reviewers:</strong> Thanks for offering reviews of this work#}
            {#plan.#}
            {#Click#}
            {#the <strong>Reviews</strong> tab to get started.</p>#}

            {#{% if entity.responsesets|length > 0  and app.user.username==capstone.user.username %}#}
            {#<p>You have offered peer reviews for:#}
            {#{% for responseset in entity.responsesets %}#}
            {#<a href="{{ path('responseset_show',  { 'id': responseset.id }) }}">#}
            {#{{ responseset.capstone.user.firstname }} {{ responseset.capstone.user.lastname }}{% if not loop.last %}, {% endif %}#}
            {#</a>#}
            {#{% endfor %}#}
            {#</p>#}
            {#{% endif %}#}

            {#<p><strong>Mentors:</strong> Thanks for mentoring this capstone. Click the#}
            {#<strong>Reviews</strong> tab to offer a Review of this work plan and#}
            {#the <strong>Checkpoints</strong> tab to review the progress of the#}
            {#capstone.#}
            {#</p>#}
            {#{% elseif not capstone %}#}
            {#<p>The capstone project provides an opportunity to apply classroom#}
            {#learning to hands-on sustainability challenges.#}
            {#</p>#}

            {#<p>Under the advisement of your capstone mentor, develop a work plan for the#}
            {#capstone project, outlining goals, targets, timeline,#}
            {#resources/partners, personal objectives, and indicators.</p>#}
            {#<p>Before you get started, please review the <a#}
            {#href="{{ path('page_show',  { 'id': '17'}) }}">#}
            {#Guidelines for the Capstone.#}
            {#</a></p>#}
            {#{% elseif capstone.status == 'Created' %}#}
            {#<p>You may update your work plan at any time by clicking <strong>Update Work#}
            {#Plan</strong> above.</p>#}
            {#<p>Once your work plan is complete, mark it <strong>Ready for#}
            {#Review.</strong>#}
            {#</p>#}

            {#{% elseif capstone.status == 'Ready for Peer Review' %}#}
            {#<p>Your work plan must receive at least two peer reviews by fellow capstone#}
            {#students.#}
            {#(You are also be required to provide two peer reviews.) Click the#}
            {#<strong>Reviews</strong>#}
            {#tab to get started.</p>#}
            {#<p>When you feel your work plan is complete, mark it <strong>Ready for#}
            {#Director</strong>.</p>#}

            {#{% elseif capstone.status == 'Ready for Director Review' %}#}
            {#<p>You will be notified by the director when your work plan is approved.</p>#}
            {#{% else %}#}
            {#<p>Your work plan has been approved. When you have completed your capstone,#}
            {#please#}
            {#click the <strong>Completed</strong> button.</p>#}
            {#{% endif %}#}


            {#</div>#}


            {#  *********************** Capstone tabs  *********************** #}
            <ul class="nav nav-tabs margin-top">
                <li class="nav-item">
                    <a class="nav-link active" id="project_toggle" href="javascript:void(0);">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="workplan_toggle" href="javascript:void(0);">Work
                        Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="checkpoints_toggle"
                       href="javascript:void(0);">Timeline</a>
                </li>
                {#<li class="nav-item">#}
                {#<a class="nav-link" id="reviews_toggle" href="javascript:void(0);">Reviews</a>#}
                {#</li>#}
            </ul>

            {#  *********************** Capstone Project  *********************** #}
            <div class="card-block">
                <div class="toggle" id="project_div">
                    <h4>Project</h4>

                    {% if capstone %}
                        {% for tag in capstone.tags %}
                            <div class="btn btn-primary btn-sm tag{{ tag.id }}"
                                 style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                        {% endfor %}
                    {% endif %}

                    <table class="table margin-top">
                        <tbody>
                        <tr>
                            <th>Title</th>
                            <td>{{ capstone.title }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ capstone.description|raw }}</td>
                        </tr>
                        <tr>
                            <th>Mentors/Sustainability Reps</th>
                            <td>{% for mentor in capstone.capstoneMentor %}{{ mentor.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Group Members</th>
                            <td>{{ capstone.user.name }}{% if capstone.users|length > 0 %}, {% endif %}{% for user in capstone.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Main Purpose</th>
                            <td>{{ capstone.purpose|raw }}{% if capstone.users|length > 0 %}, {% endif %}{% for user in capstone.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Background and Context</th>
                            <td>{{ capstone.background|raw }}{% if capstone.users|length > 0 %}, {% endif %}{% for user in capstone.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Contribution to Sustainability</th>
                            <td>{{ capstone.contribution|raw }}{% if capstone.users|length > 0 %}, {% endif %}{% for user in capstone.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Project Outline</th>
                            <td>{{ capstone.details|raw }}{% if capstone.users|length > 0 %}, {% endif %}{% for user in capstone.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Anticipated Outcomes</th>
                            <td>{{ capstone.outcomes|raw }}{% if capstone.users|length > 0 %}, {% endif %}{% for user in capstone.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Special Considerations</th>
                            <td>{{ capstone.considerations|raw }}{% if capstone.users|length > 0 %}, {% endif %}{% for user in capstone.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Potential Information Sources</th>
                            <td>{{ capstone.sources|raw }}{% if capstone.users|length > 0 %}, {% endif %}{% for user in capstone.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Desired Team Qualifications</th>
                            <td>{{ capstone.qualifications|raw }}{% if capstone.users|length > 0 %}, {% endif %}{% for user in capstone.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>

            {#  *********************** Capstone Workplan  *********************** #}
            <div class="toggle" id="workplan_div">

            <h4>Work Plan</h4>

            {% if capstone %}



                <table class="table margin-top">
                    <tbody>
                    <tr>
                        <th>Mentors/Sustainability Reps</th>
                        <td>{% for mentor in capstone.capstoneMentor %}{{ mentor.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Mentor Involvement</th>
                        <td>{{ capstone.mentorExpectations|raw }}</td>
                    </tr>
                    <tr>
                        <th>Group Members</th>
                        <td>{{ capstone.user.name }}{% if capstone.users|length > 0 %}, {% endif %}{% for user in capstone.users %}{{ user.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Resources/Partners</th>
                        <td>{{ capstone.partners|raw }}</td>
                    </tr>
                    <tr>
                        <th>Targets</th>
                        <td>{{ capstone.objectives|raw }}</td>
                    </tr>
                    <tr>
                        <th>Indicators</th>
                        <td>{{ capstone.successMetrics|raw }}</td>
                    </tr>
                    <tr>
                        <th>Deliverables</th>
                        <td>{{ capstone.deliverables|raw }}</td>
                    </tr>
                    <tr>
                        <th>Expected Completion Date</th>
                        <td>{{ capstone.timeframe }}</td>
                    </tr>
                    <tr>
                        <th>After Completion</th>
                        <td>{{ capstone.completion|raw }}</td>
                    </tr>
                    <tr>
                        <th>Repeatable/Extendable</th>
                        <td>{{ capstone.repeatable }}</td>
                    </tr>
                    <tr>
                        <th>Repeatable/Extendable Information</th>
                        <td>{{ capstone.repeatinfo|raw }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ capstone.status }}<a name="reviews"></a></td>
                    </tr>
                    <tr>
                        <th>Last Updated</th>
                        <td>{{ capstone.updated |date("m/d/Y g:ia") }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>

                <div class="toggle" id="reviews_div">
                <h4>Reviews</h4>


                {% if capstone.responsesets %}
                    <div id="reviews" class="margin-top">
                        {% if capstone.responsesets|length > 0 %}
                            Reviews by
                            {% for responseset in capstone.responsesets %}
                                <a class="btn btn-primary btn-sm" id="review{{ loop.index }}_toggle"
                                   href="javascript:void(0);">{{ responseset.user.firstname }} {{ responseset.user.lastname }}</a>
                            {% endfor %}
                        {% endif %}
                        {# Link to list work plans ready for review #}
                        {% if app.user.capstone %}
                            <a class="btn btn-primary  btn-sm float-sm-right margin-left"
                               href="{{ path('capstone', { 'tag': 'Ready for Peer Review' }) }}">
                                Review other work plans
                            </a>
                        {% endif %}
                        {# Review this workplan #}
                        {% if capstone.status == 'Ready for Peer Review' and entity.username != app.user.username %}
                            <a class="btn btn-primary  btn-sm float-sm-right"
                               href="{{ path('responseset_new',  { 'id': capstone.id,'questionsetid': '1'  }) }}">
                                Review this work plan
                            </a>
                        {% endif %}
                        {# Director workplan review #}
                        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MENTOR')) and entity.username != app.user.username %}
                            <a class="btn btn-primary  btn-sm float-sm-right"
                               href="{{ path('responseset_new',  { 'id': capstone.id,'questionsetid': '2'  }) }}">
                                Director/Mentor work plan review
                            </a>
                        {% endif %}


                        <div class="row margin-top">
                            {% for responseset in capstone.responsesets %}
                                <div class="review_toggle" id="review{{ loop.index }}_div">
                                    <div class="card card-header">
                                        {% if app.user.username==responseset.user.username %}
                                            <a class="btn btn-primary float-sm-right"
                                               href="{{ path('responseset_edit', { 'id': responseset.id }) }}">Edit</a>
                                        {% endif %}
                                        <h4>Review
                                            by {{ responseset.user.firstname }} {{ responseset.user.lastname }}</h4>

                                    </div>
                                    <div class="card card-body">
                                        {% for response in responseset.responses %}
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">{{ response.question.question |raw }}</h4>
                                                </div>
                                                <div class="card-block">
                                                    {{ response.response|raw }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            </div>
            {#  *********************** Capstone Timeline (aka Checkpoints)  *********************** #}
            <div class="toggle" id="checkpoints_div">
            {% if capstone %}
                {% if app.user.username == entity.username %}
                    <a href="{{ path('checkpoint_new', { 'id': capstone.project.id }) }}"
                       class="float-sm-right btn btn-primary">
                        Add Task
                    </a>
                {% endif %}

                <h4>Timeline</h4>

                <div class="alert alert-info margin-top" role="alert">
                    <p>Your timeline displays the goals for your project and helps you,
                        your
                        mentor, and the
                        certificate director monitor your progress.
                    </p>
                    <p>
                        Please fill in the the task created for you with the details of your
                        project,including deadlines. You are welcome to add more tasks if you find
                        them helpful.
                    </p>
                    <p>When your mentor and the director have reviewed the task, mark it
                        <strong>Complete</strong>.
                    </p>
                </div>

                {% if capstone.project %}
                    {% for checkpoint in capstone.project.checkpoints %}
                        {% set background %}
                            {% if checkpoint.status=='Complete' %}#dff0d8
                            {% else %}#F7F7E3
                            {% endif %}
                        {% endset %}
                        <div class="card margin-top checkpoints_card">
                            <div class="card-header" style="background-color: {{ background }} ">
                                {% if app.user.username == capstone.user.username %}
                                    {% if checkpoint.status!='Complete' %}
                                        <a href="{{ path('checkpoint_complete', { 'id': checkpoint.id }) }}"
                                           class="float-sm-right btn btn-primary">Complete</a>
                                    {% endif %}
                                    <a href="{{ path('checkpoint_edit', { 'id': checkpoint.id }) }}"
                                       class="float-sm-right btn btn-primary">Edit</a>
                                {% endif %}

                                <h4 class="card-title">
                                    <a href="javascript:void(0)" title="click to toggle">
                                        {{ checkpoint.name }}
                                    </a>
                                    {% if checkpoint.status=='Complete' %}
                                        <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                    {% endif %}
                                </h4>

                                <p class="{% if checkpoint.status=='Complete' %}hidden{% endif %}">
                                    {% if checkpoint.deadline %}
                                        {% if "now"|date('Y-m-d') > checkpoint.deadline|date|date('Y-m-d') %}
                                            {% set alert %}alert-danger{% endset %}
                                        {% else %}
                                            {% set alert %}alert-success{% endset %}
                                        {% endif %}
                                        <span class="alert {{ alert }}">Deadline: {{ checkpoint.deadline|date('m-d-Y h:i A') }}</span>
                                    {% endif %}
                                    {% if checkpoint.lead != '' %}
                                        <span class="alert alert-info">Lead: {{ checkpoint.lead }}</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-block {% if checkpoint.status=='Complete' %}hidden{% endif %}">
                                {{ checkpoint.description |raw }}
                                <div class="alert alert-success">
                                    Reviewers:
                                    {# self review#}
                                    {% if app.user.username == entity.username %}
                                        <a href="{{ path('review_new', { 'checkpointid': checkpoint.id, 'reviewerid': entity.id }) }}"
                                           class="">{{ entity.firstname }} {{ entity.lastname }},</a>
                                    {% else %}{{ entity.firstname }} {{ entity.lastname }},
                                    {% endif %}
                                    {# mentor and director review#}
                                    {% for mentor in checkpoint.project.capstone.capstoneMentor %}
                                        {% if app.user.username == mentor.username %}
                                            <a href="{{ path('review_new', { 'checkpointid': checkpoint.id, 'reviewerid': mentor.id }) }}"
                                               class="">{{ mentor.name }} </a>
                                        {% else %}{{ mentor.name }}{% endif %}
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                    {# other selected reviewer#}
                                    {% for reviewer in checkpoint.reviewers %}
                                        {% if app.user.username == reviewer.username %}
                                            <a
                                            href="{{ path('review_new', { 'checkpointid': checkpoint.id, 'reviewerid': reviewer.id }) }}"
                                            class="">{{ reviewer.firstname }} {{ reviewer.lastname }}</a>{% else %}{{ reviewer.firstname }} {{ reviewer.lastname }}{% endif %}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </div>
                                {% for review in checkpoint.reviews %}
                                    {% set review_background %}
                                        {% if review.status=='Complete' %}#dff0d8
                                        {% else %}#ffffe6
                                        {% endif %}
                                    {% endset %}
                                    <div class="card">
                                        <div class="card-header"
                                             style="background-color: {{ review_background }}">
                                            Review by {{ review.reviewer.name }}
                                            <span class="btn btn-secondary">Recommended Status: {{ review.status }}</span>
                                            {% if review.status=='Complete' %}
                                                <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                            {% endif %}
                                            {% if app.user.username == review.reviewer.username %}
                                                <a href="{{ path('review_edit', { 'id': review.id }) }}"
                                                   class="float-sm-right btn btn-primary">Edit</a>
                                            {% endif %}
                                        </div>
                                        <div class="card-block">
                                            <p>{{ review.body | raw }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>

            {% endif %}
        {% else %}
            <p class="margin-top">You do not yet have a capstone assigned.
                <a title="Create New Capstone"
                   class="btn btn-primary"
                   href="{{ path('capstone_new') }}">
                    Create New Capstone
                </a>
            </p>
        {% endfor %}
    </div>

{% endblock %}
