{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}"/>
{% endblock %}


{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if section %}
                                {% for page in section.pages if section %}
                                    {% if (page.link is null or page.link == '') %}
                                        <li class="nav-item"><a
                                                    href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a href="{{ path('event_new') }}">New Event</a></li>
                            {% endif %}
                            <li class="nav-item"><a
                                        href="{{ path('event') }}">Month</a>
                            </li>

                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">
            <h1>Certificate Calendar</h1>

            {# highlight an individual event #}
            {% if event is defined %}
                <div class="alert alert-success">
                    <h1>{{ event.title }}</h1>
                    {{ event.datetime|date('Y-m-d H:i:s') }}<br>
                    {{ event.body | raw }}
                    <div>
                        <a class="btn btn-primary" href="{{ path('event_edit', { 'id': event.id }) }}">
                            Edit
                        </a>
                        {{ form(delete_form) }}
                    </div>

                </div>
            {% endif %}

            {# fullcalendar display  #}
            {% include 'ADesignsCalendarBundle::calendar.html.twig' %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>

    {# ical to fullcalendar from https://github.com/leonaard/icalendar2fullcalendar #}
    <script type="text/javascript" src="{{ asset('bundles/app/js/ical.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/ical_events.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/ical_fullcalendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/colorize_fullcalendar.js') }}"></script>


    <script language="javascript">

        ics_sources = [
            {% for file in ics_sources %}
            {url: '{{ app.request.baseUrl }}/upload/{{ file.id }}/get', event_properties: {color: '{{ file.color }}'}},
            {% endfor %}
        ]


        function data_req(url, callback) {
            req = new XMLHttpRequest()
            req.addEventListener('load', callback)
            req.open('GET', url)
            req.send()
        }

        function add_recur_events() {
            if (sources_to_load_cnt < 1) {
                $('#calendar').fullCalendar('addEventSource', expand_recur_events)
            } else {
                setTimeout(add_recur_events, 30)
            }
        }

        function load_ics(ics) {
            data_req(ics.url, function () {
                $('#calendar-holder').fullCalendar('addEventSource', fc_events(this.response, ics.event_properties))
                sources_to_load_cnt -= 1
            })
        }


        $('#calendar-holder').fullCalendar({
            header: {
                left: 'prev, next',
                center: 'title',
                right: 'month, basicWeek, basicDay,'
            },
            lazyFetching: true,
            timeFormat: {
                // for agendaWeek and agendaDay
                agenda: 'h:mmt',    // 5:00 - 6:30

                // for all other views
                '': 'h:mmt'         // 7p
            },
            events: [
                {% for event in entities %}
                {
                    title: '{{ event.title| escape('js') }}',
                    start: '{{ event.datetime|date('j M Y') }} {{ event.datetime|date('H:i:s', false) }}',
                    allDay: false,
                    textColor: 'black',
                    backgroundColor: '#fdcfc0',
                    borderColor: '#fdcfc0',
                    url: '{{ app.request.uri }}{{ event.id }}',
                    body: '{{ event.body| escape('js') }}',
                    id: '{{ event.id }}',
                },
                {% endfor %}
                {% for checkpoint in checkpoints %}
                {
                    title: '{{ checkpoint.name| escape('js') }}',
                    start: '{{ checkpoint.deadline|date('j M Y') }} {{ checkpoint.deadline|date('H:i:s', false) }}',
                    allDay: false,
                    textColor: 'black',
                    backgroundColor: '#e4ffe8',
                    borderColor: '#e4ffe8',
                    url: '{{ app.request.uri }}../project/{{ checkpoint.project.id }}',
                    body: '{{ checkpoint.description| escape('js') }}',
                    id: '{{ checkpoint.id }}',
                },
                {% endfor %}
            ],
            eventClick: function(event) {
                // if (event.url) {
                    // window.open(event.url, "_blank");
                    // return false;
                // }
            }
        })
        sources_to_load_cnt = ics_sources.length
        for (ics of ics_sources) {
            load_ics(ics)
        }

    </script>
{% endblock %}