{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-2">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Events</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('event') }}">Certificate Events</a></li>
                        <li><a target="_blank" href="http://sustainability.uga.edu/what-were-doing/calendar/">Sustainability Events</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('event_new') }}">New Event</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="col-sm-9">
    <h1>Sustainability Events</h1>

    {% for event in entities %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-default pull-right" href="{{ path('event_edit', {'id':event.id}) }}">
                        Edit
                    </a>
                {% endif %}
                {{ event.datetime|date("l, F d") }} {% if event.datetime|date("g:i A") == "12:00 AM" %}{% else %}{{ event.datetime|date("g:i A") }}{% endif %}
            </div>
            <div class="panel-body">
                <h3>{{ event.title }}</h3>

                <p>{{ event.body|raw }}</p>
            </div>
        </div>
    {% else %}
        <div class="panel-body">
            <p>There are no events at this time. Please check back soon.</p>
        </div>
    {% endfor %}
{% endblock %}
