{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-8 offset-sm-1 col-xs-12">
            <h1>Event</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Title</th>
                    <td>{{ entity.title }}</td>
                </tr>
                <tr>
                    <th>Body</th>
                    <td>{{ entity.body | raw }}</td>
                </tr>
                <tr>
                    <th>Datetime</th>
                    <td>{{ entity.datetime|date('Y-m-d H:i:s') }}</td>
                </tr>
                </tbody>
            </table>

                    <a class="btn btn-primary" href="{{ path('event_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                    {{ form(delete_form) }}
            </ul>
        </div>
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        {% if is_granted('ROLE_ADMIN') %}
                            <ul class="nav navbar-sidenav">
                                <li class="nav-item"><a href="{{ path('event') }}">
                                        Calendar
                                    </a></li>
                                <li class="nav-item"><a href="{{ path('event_new') }}">
                                        New Event
                                    </a></li>
                            </ul>
                        {% endif %}
                    </div>
                </nav>

            </div>
        </div>
    </div>
{% endblock %}
