<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1">
    <title>{% block title %}Sustainability Certificate{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/css/theme.bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/local.css') }}">
    {% endblock %}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>

<div class="container-fluid">
<header>

        <nav class="navbar navbar-default ">


            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="pull-left" href="{{ path('homepage') }}" class="pull-left">
                    <img alt="Sustainability logo" class="img-responsive
                navbar-logo" src="{{ asset('bundles/app/images/sustainabilitynavlogo.jpg') }}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="skip">
                        <a id="main_nav" href="#main_content">Skip Navigation</a>
                    </li>
                    <li><a href="{{ path('page_show', { 'id': '1' }) }}">About</a></li>
                    <li><a href="{{ path('course') }}">Courses</a></li>
                    <li><a href="{{ path('page_show', { 'id': '10' }) }}">Students</a></li>
                    <li><a href="{{ path('faculty') }}">Faculty</a></li>
                    <li><a href="{{ path('event') }}">Events</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="padding-right: 20px;">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li>
                            <a class="" href="{{ path('user_profile') }}">My Profile</a>
                        </li>

                        <li>
                            <a title="Logout" href="{{ path('fos_user_security_logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a title="Login" href="{{ path('fos_user_security_login') }}">Login</a>
                        </li>
                    {% endif %}
                    <li id="skip">
                        <a id="main_content" href="#main_nav">Skip to Top</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
</header>

<section class="main-content">
            {% block body %}{% endblock %}
            {% block javascripts %}
                <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
                <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/2.2.2/tinysort.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/js/jquery.tablesorter.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/js/jquery.tablesorter.widgets.min.js"></script>
            {% endblock %}

</section>
</div>
</body>
</html>
