{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $("#scroll3").click(function () {
                $('html, body').animate({
                    scrollTop: $("body").offset().top
                }, 1000);
            });
        });
    </script>
{% endblock %}

{% block body %}


    <!-- Carousel
     ================================================== -->
    <div id="myCarousel" class="carousel slide hidden-xs-down" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for feature in features  if feature.type=='carousel' %}
                <li data-target="#myCarousel" data-slide-to="{{ loop.index }}"
                    class="{% if loop.first %}active{% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for feature in features  if feature.type=='carousel' %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img class="slide" src="{{ feature.image }}" alt="Slide {{ loop.index }}">
                    <div class="container">
                        <div class="carousel-caption text-xs-left">
                            <h1>{{ feature.title}}</h1>
                            {{ feature.body|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->


    <!-- ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- FEATURES -->

        <hr class="featurette-divider">
        {% for feature in features  if feature.type=='feature' %}
            <div class="row featurette">
                <div class="col-sm-7">
                    <h3 class="featurette-heading">{{ feature.title }}</h3>
                    {{ feature.body|raw }}
                    {% if feature.url!='' %}
                        <a class="btn btn-primary" href="{{ feature.url }}" title="Read more about {{ feature.title }}">Read more</a>
                    {% endif %}
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="{{ feature.image }}"
                         alt="Featurette {{ loop.index }}" width="100%">
                </div>
            </div>
            <hr class="featurette-divider">
        {% endfor %}

        <!-- Three COLUMNS of text below the carousel -->
        <div class="row">
            {% for feature in features  if feature.type=='column' %}
                <div class="col-sm-6">
                    {% if feature.image!='' %}
                    <img class="img-thumbnail rounded" src="{{ feature.image }}" alt="Slide {{ loop.index }}"
                         width="80%">
                    {% endif %}
                    {% if feature.title!='' %}
                    <h3>{{ feature.title }}</h3>
                    {% endif %}
                    {{ feature.body|raw }}
                    {% if feature.url!='' %}
                    <a class="btn btn-primary" href="{{ feature.url }}" title="Read more about {{ feature.title }}">Read more</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div><!-- /.row -->

    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">


                </div>

            </div>

        </div>

    </footer>


{% endblock %}
