{% extends '::base.html.twig' %}

{% block body %}

    <div id="container">
        <div class="col-sm-6 ">
            <div class="padding">
                <img class="img-responsive" src="{{ asset('bundles/app/images/sustainabilitylogo.jpg') }}"></a>
                <h1><span>Welcome to</span> the Sustainability Certificate </h1>

                <p>The Sustainability Certificate will go before the Univeristy Council for final approval on February
                    17.</p>

                <p>We are currently developing this site to support the certificate. Please check back for updates.</p>

                <p>To apply to participate in the certificate or to propose a course for one of the pillars, please
                    email the director (scdirector@uga.edu).</p>
                <hr/>
                <p>Ron Balthazor, Director</p>

                <p>Talley Vodicka, Administrative Specialist</p>

                <p>Lindsey Bineau, Intern</p>

                <p>Email: scdirector@uga.edu </p>
            </div>
        </div>

        <div class="col-sm-6  ">
            <div class="padding">
                <h2>Sustainability Events</h2>

                {% for event in entities %}
                    <div class="panel panel-default">
                        <div class="panel-heading">

                            {{ event.datetime|date("l, F d") }} {% if event.datetime|date("g:i A") == "12:00 AM" %}{% else %}{{ event.datetime|date("g:i A") }}{% endif %}
                        </div>
                        <div class="panel-body">
                            <h3>{{ event.title }}</h3>

                            <p>{{ event.body|raw }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="panel-body">
                        <p>There are no events at this time. Please check back soon.</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
