{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <style>
        .bar {
            fill: #771b1d;
        }
        .axis path,
        .axis line {
            fill: none;
            stroke: #D4D8DA;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }
        .x path {
            display: none;
        }
        .toolTip {
            position: absolute;
            display: none;
            min-width: 80px;
            height: auto;
            background: none repeat scroll 0 0 #ffffff;
            border: 1px solid #fff;
            padding: 14px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.min.js"></script>
    <script language="javascript">
        $(document).ready(function () {

            var svg = d3.select("svg"),
                margin = {top: 20, right: 20, bottom: 30, left: 80},
                width = +svg.attr("width") - margin.left - margin.right,
                height = +svg.attr("height") - margin.top - margin.bottom;

            var tooltip = d3.select("body").append("div").attr("class", "toolTip");

            var x = d3.scaleLinear().range([0, width]);
            var y = d3.scaleBand().range([height, 0]);

            var g = svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var test = [{% for entity in entities%}{ "area": "{{ entity.name}}", "value":{{ entity.program1|length}} }{% if not loop.last %},{% endif %} {% endfor %}];

            // load the external data
            d3.json("{{ path('data_school') }}", function(error, data) {
                if (error) throw error;

                data.sort(function (a, b) {
                    return a.value - b.value;
                });

                x.domain([0, d3.max(data, function (d) {
                    return parseInt(d.value);
                })]);
                y.domain(data.map(function (d) {
                    return d.area;
                })).padding(0.1);

                g.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x).ticks(5).tickFormat(function (d) {
                        return d;
                    }).tickSizeInner([-height]));

                g.append("g")
                    .attr("class", "y axis")
                    .call(d3.axisLeft(y));

                g.selectAll(".bar")
                    .data(data)
                    .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", 0)
                    .attr("height", y.bandwidth())
                    .attr("y", function (d) {
                        return y(d.area);
                    })
                    .attr("width", function (d) {
                        return x(d.value);
                    })
                    .on("mousemove", function (d) {
                        tooltip
                            .style("left", d3.event.pageX - 50 + "px")
                            .style("top", d3.event.pageY - 70 + "px")
                            .style("display", "inline-block")
                            .html((d.area) + "<br>" + (d.value));
                    })
                    .on("mouseout", function (d) {
                        tooltip.style("display", "none");
                    });
            });

        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar navbar-light">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a href="{{ path('school_new') }}">
                                        New School
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">
            <h1>Schools</h1>

            <svg width="960" height="700"></svg>

            <div id="accordion" role="tablist" aria-multiselectable="true">
                {% for entity in entities %}
                    <div class="card">
                        <div class="card-header" role="tab" id="heading{{ loop.index }}">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}"
                                   aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                    {{ entity.name }}
                                </a>
                            </h5>
                            {% set graduated = 0 %}
                            {% set inactive = 0 %}
                            {% set admin = 0 %}
                            {% set grad = 0 %}
                            {% for entity in entity.program1 if entity.user.progress.name=='Graduated' %}
                                {% set graduated = graduated + 1 %}
                            {% endfor %}
                            {% for entity in entity.program1 if entity.user.progress.name=='Inactive' %}
                                {% set inactive = inactive + 1 %}
                            {% endfor %}
                            {% for entity in entity.program1 if entity.user.progress.name=='Administration' %}
                                {% set admin = admin + 1 %}
                            {% endfor %}
                            {% for entity in entity.program1 if entity.user.program.level=='Grad' and entity.user.progress.name!='Inactive' %}
                                {% set grad = grad + 1 %}
                            {% endfor %}
                            <p> Graduates:{{ graduated }} Inactive:{{ inactive }}
                                Grad Students:{{ grad }} Total
                                Active:{{ entity.program1|length - (inactive + graduated + admin) }}</p>
                        </div>

                        <div id="collapse{{ loop.index }}" class="collapse show" role="tabpanel"
                             aria-labelledby="heading{{ loop.index }}">
                            <div class="card-block">
                                {% for entity in entity.program1 %}
                                    <p>{% if entity.user.program.level=='Grad' %}+{% endif %}
                                        <a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user.lastname }}
                                            , {{ entity.user.firstname }}</a>
                                        ,  (Progress: {{ entity.user.progress.name }})</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}
