{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar navbar-light">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a href="{{ path('school_new') }}">
                                    New School
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">
            <h1>Schools</h1>

            <div class="col-sm-8">
                {% for entity in entities %}
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-primary float-sm-right" href="{{ path('school_edit', { 'id': entity.id }) }}">Edit</a>
                        <h2>{{ entity.name }} </h2>
                        {% set graduated = 0 %}
                        {% set inactive = 0 %}
                        {% for entity in entity.program1 if entity.user.progress.name=='Graduated' %}
                        {% set graduated = graduated + 1 %}
                        {% endfor %}
                        {% for entity in entity.program1 if entity.user.progress.name=='Inactive' %}
                            {% set inactive = inactive + 1 %}
                        {% endfor %}
                        <p>Active:  {{ entity.program1|length - (inactive + graduated) }}</p>
                        <p>Graduates:  {{ graduated }}</p>
                        <p>Inactive:  {{ inactive }}</p>
                        <p>Total:{{ entity.program1|length }}</p>


                    </div>
                    <div class="card-block">
                        <div id="accordion" role="tablist" aria-multiselectable="true">
                            {% for entity in entity.program1 %}
                                {% set graduated = graduated + 1 %}
                                 <p>{{ entity.user.lastname }}, {{ entity.user.firstname }} (Progress: {{ entity.user.progress.name }})</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>

{% endblock %}
