{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h1>Substitutions</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Student</th>
                    <th>Requirement</th>
                    <th>Status</th>
                    <th>Approve</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('substitution_show', { 'id': entity.id }) }}">{{ entity.checklist.user.firstname }} {{ entity.checklist.user.lastname }}</a>
                        </td>
                        <td>{{ entity.requirement }}</td>
                        <td>{{ entity.status }}</td>
                        <td><a href="{{ path('substitution_edit', { 'id': entity.id }) }}">Approve</a></td>
                    </tr>
                    <tr>
                        <td colspan="4">{{ entity.description | raw}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
