{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if section %}
                                {% for page in section.pages if section %}
                                    {% if (page.link is null or page.link == '') %}
                                        <li class="nav-item"><a
                                                    href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <li class="nav-item"><a
                                        href="{{ path('term_current') }}">Courses Offered Next Term</a>
                            </li>
                            <li class="nav-item">Anchor:
                                <a href="{{ path('course', { 'pillar':'anchor', 'level':'undergrad' }) }}">undergrad</a> /
                                <a href="{{ path('course', { 'pillar':'anchor', 'level':'grad' }) }}">grad</a>
                            </li>
                            <li class="nav-item">Seminar:
                                <a href="{{ path('course', { 'pillar':'seminar', 'level':'undergrad' }) }}">undergrad</a> /
                                <a href="{{ path('course', { 'pillar':'seminar', 'level':'grad' }) }}">grad</a>
                            </li>
                            <li class="nav-item">Ecological:
                                <a href="{{ path('course', { 'pillar':'ecological', 'level':'undergrad' }) }}">undergrad</a> /
                                <a href="{{ path('course', { 'pillar':'ecological', 'level':'grad' }) }}">grad</a>
                            </li>
                            <li class="nav-item">Economic:
                                <a href="{{ path('course', { 'pillar':'economic', 'level':'undergrad' }) }}">undergrad</a> /
                                <a href="{{ path('course', { 'pillar':'economic', 'level':'grad' }) }}">grad</a>
                            </li>
                            <li class="nav-item">Social:
                                <a href="{{ path('course', { 'pillar':'social', 'level':'undergrad' }) }}">undergrad</a> /
                                <a href="{{ path('course', { 'pillar':'social', 'level':'grad' }) }}">grad</a>
                            </li>
                            <li class="nav-item">Capstone:
                                <a href="{{ path('course', { 'pillar':'capstone', 'level':'undergrad' }) }}">undergrad</a> /
                                <a href="{{ path('course', { 'pillar':'capstone', 'level':'grad' }) }}">grad</a>
                            </li>
                            {% if is_granted('ROLE_USER') %}
                                <li class="nav-item">
                                    <a href="{{ path('course_listbystatus', { 'status':'exception'}) }}">Exceptions</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{{ path('course_listbylocation', { 'location':'Abroad', 'status':'approved' }) }}">Study
                                    Abroad</a>
                            </li>
                        </ul>
                        </ul>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <ul class="nav navbar-sidenav">
                                <li class="nav nav-header">Admin</li>
                                <li class="nav-item"><a href="{{ path('course_new') }}">
                                        New Course
                                    </a></li>
                                <li class="nav-item"><a href="{{ path('course_listbystatus', { 'status':'pending'}) }}">Pending</a>
                                </li>
                                <li class="nav-item"><a href="{{ path('course_listbystatus', { 'status':'denied'}) }}">Denied</a>
                                </li>
                                <li class="nav-item"><a href="{{ path('course_listall') }}">All</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="btn-group float-sm-right" role="group" aria-label="Course Actions">
                    <a class="btn btn-primary"
                       href="{{ path('upload_new', { 'courseid': entity.id }) }}">Upload Syllabus</a>
                    <a class="btn btn-primary"
                       href="{{ path('course_edit', { 'id': entity.id }) }}">Edit</a>
                    <a class="btn btn-primary"
                       href="{{ path('course_approval', {'state':'approved', 'id': entity.id }) }}">Approve</a>
                    <a class="btn btn-primary"
                       href="{{ path('course_approval', { 'state':'denied', 'id': entity.id }) }}">Deny</a>
                </div>
            {% endif %}
            <h1>{{ entity.name }}</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Offered</th>
                    <th class=" hidden-xs-down">Prereqs</th>
                    <th class=" hidden-xs-down">School</th>
                    <th class=" hidden-xs-down">Requirement</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.offered }}</td>
                    <td class=" hidden-xs-down">{{ entity.prereqs }}</td>
                    <td class=" hidden-xs-down">{% if entity.school %}{{ entity.school.name }}{% endif %}</td>
                    <td class=" hidden-xs-down">{{ entity.pillar }}</td>
                </tr>
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="card card-block">Admin notes: {{ entity.notes|raw }}</div>
            {% endif %}
            <div class="card card-block">{{ entity.description|raw }}</div>
            {% if entity.syllabus|length > 10 %}
                <div class="card card-block">
                    <p>Contact: {{ entity.contact }}</p>
                    {{ entity.syllabus|raw }}</div>
            {% endif %}

            {% if entity.uploads|length > 0 %}
                <table class="table well">
                    <thead>
                    <tr>
                        <th>File</th>
                        <th>Uploaded</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Actions</th>{% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entity.uploads %}
                        <tr>
                            <td><a href="{{ path('upload_get', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td class="btn-group">
                                    <a class="btn btn-secondary" href="{{ path('upload_edit', { 'id': entity.id }) }}">Delete</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
{% endblock %}