{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-2">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if section %}
                                {% for page in section.pages if section %}
                                    {% if (page.link is null or page.link == '') %}
                                        <li class="nav-item"><a
                                                    href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <li class="nav nav-header">Undergraduate</li>
                            <li class="nav-item"><a
                                        href="{{ path('course', { 'pillar':'anchor', 'level':'undergrad' }) }}">Anchor</a>
                            </li>
                            <li class="nav-item"><a
                                        href="{{ path('course', { 'pillar':'seminar', 'level':'undergrad' }) }}">Seminar</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('course', { 'pillar':'ecological', 'level':'undergrad' }) }}">Ecological</a>
                            </li>
                            <li class="nav-item"><a
                                        href="{{ path('course', { 'pillar':'economic', 'level':'undergrad' }) }}">Economic</a>
                            </li>
                            <li class="nav-item"><a
                                        href="{{ path('course', { 'pillar':'social', 'level':'undergrad' }) }}">Social</a>
                            </li>
                            <li class="nav-item"><a
                                        href="{{ path('course', { 'pillar':'capstone', 'level':'undergrad' }) }}">Capstone</a>
                            </li>
                            {% if is_granted('ROLE_USER') %}
                                <li class="nav-item"><a
                                            href="{{ path('course_listbystatus', { 'status':'exception'}) }}">Exceptions</a>
                                </li>
                            {% endif %}
                            <li class="nav-item"><a
                                        href="{{ path('course_listbylocation', { 'location':'Abroad', 'status':'approved' }) }}">Study
                                    Abroad</a>
                            </li>
                        </ul>
                        {#
                        <ul class="nav navbar-sidenav">
                            <li class="nav navbar-header">Graduate</li>
                            <li><a href="{{ path('course', { 'pillar':'anchor', 'level':'grad' }) }}">Anchor</a></li>
                            <li><a href="{{ path('course', { 'pillar':'ecological', 'level':'grad' }) }}">Ecological</a>
                            </li>
                            <li><a href="{{ path('course', { 'pillar':'economic', 'level':'grad' }) }}">Economic</a></li>
                            <li><a href="{{ path('course', { 'pillar':'social', 'level':'grad' }) }}">Social</a></li>
                        </ul>
                        #}

                        {% if is_granted('ROLE_ADMIN') %}
                            <ul class="nav navbar-sidenav">
                                <li class="nav nav-header">Admin</li>
                                <li class="nav-item"><a href="{{ path('course_new') }}">
                                        New Course
                                    </a></li>
                                <li class="nav-item"><a href="{{ path('course_listbystatus', { 'status':'pending'}) }}">Pending</a>
                                </li>
                                <li class="nav-item"><a href="{{ path('course_listbystatus', { 'status':'denied'}) }}">Denied</a>
                                </li>
                                <li class="nav-item"><a href="{{ path('course_listall') }}">All</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-10">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-group pull-sm-right" role="group" aria-label="Basic example">
                        <a class="btn btn-primary"
                           href="{{ path('course_edit', { 'id': entity.id }) }}">Edit</a>
                        <a class="btn btn-primary"
                           href="{{ path('course_approval', {'state':'approved', 'id': entity.id }) }}">Approve</a>
                        <a class="btn btn-primary"
                           href="{{ path('course_approval', { 'state':'denied', 'id': entity.id }) }}">Deny</a>
                    </div>
                {% endif %}
            <h1>{{ entity.name }}</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Offered</th>
                    <th class=" hidden-xs-down">Prereqs</th>
                    <th class=" hidden-xs-down">School</th>
                    <th class=" hidden-xs-down">Requirement</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.offered }}</td>
                    <td class=" hidden-xs-down">{{ entity.prereqs }}</td>
                    <td class=" hidden-xs-down">{{ entity.school }}</td>
                    <td class=" hidden-xs-down">{{ entity.pillar }}</td>
                </tr>
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="card card-block">Admin notes: {{ entity.notes|raw }}</div>
            {% endif %}
            <div class="card card-block">{{ entity.description|raw }}</div>
            {% if entity.syllabus|length > 10 %}
                <div class="card card-block">
                    <p>Contact:  {{ entity.contact }}</p>
                    {{ entity.syllabus|raw }}</div>
            {% endif %}

        </div>
    </div>
{% endblock %}