{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3">
        <div class="bootstrap-vertical-nav">

            <nav class="navbar navbar-dark">
                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                    &#9776;
                </button>
                <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                    <ul class="nav navbar-sidenav">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a href="{{ path('term_new') }}">New Term</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

        </div>
    </div>


    <div class="col-sm-8">
        <h1>Terms</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('term_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.status }}</td>
                    <td><a class="btn btn-primary" href="{{ path('term_edit', { 'id': entity.id }) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
