{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3">
        <div class="bootstrap-vertical-nav">
            <nav class="navbar navbar-dark">
                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                        data-target="#exCollapsingNavbar2">
                    &#9776;
                </button>
                <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                    <ul class="nav navbar-sidenav">
                        <li class="nav-item"><a href="{{ path('tag_new') }}">
                                New Tag
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('idea') }}">
                                Ideas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('source') }}">
                                Resources
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('tag') }}">
                                Tags
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
    <div class="col-sm-8">
    <h1>Tag list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tag_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.color }}</td>
                <td><a href="{{ path('tag_edit', { 'id': entity.id }) }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tag_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
