{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .bar {
            fill: #771b1d;
        }

        .graddate_bar {
            fill: #575123;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #D4D8DA;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }

        .x path {
            display: none;
        }
        td {
            padding: .5em;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.min.js"></script>
    <script language="javascript">
        $(document).ready(function () {

            function schools() {
                var svg = d3.select("svg"),
                    margin = {top: 20, right: 20, bottom: 30, left: 80},
                    width = +svg.attr("width") - margin.left - margin.right,
                    height = +svg.attr("height") - margin.top - margin.bottom;

                var x = d3.scaleLinear().range([0, width]);
                var y = d3.scaleBand().range([height, 0]);

                var g = svg.append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                // load the external data
                d3.json("{{ path('data_school') }}", function (error, data) {
                    if (error) throw error;

                    data.sort(function (a, b) {
                        return a.value - b.value;
                    });

                    x.domain([0, d3.max(data, function (d) {
                        return parseInt(d.value);
                    })]);
                    y.domain(data.map(function (d) {
                        return d.area;
                    })).padding(0.1);

                    g.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(x).ticks(5).tickFormat(function (d) {
                            return d;
                        }).tickSizeInner([-height]));

                    g.append("g")
                        .attr("class", "y axis")
                        .call(d3.axisLeft(y));

                    g.selectAll(".bar")
                        .data(data)
                        .enter().append("rect")
                        .attr("class", "bar")
                        .attr("x", 0)
                        .attr("height", y.bandwidth())
                        .attr("y", function (d) {
                            return y(d.area);
                        })
                        .attr("width", function (d) {
                            return x(d.value);
                        })
                });
            }

            schools();

            function graddate() {
                // set the dimensions and margins of the graph
                var margin = {top: 20, right: 20, bottom: 30, left: 40},
                    width = 960 - margin.left - margin.right,
                    height = 500 - margin.top - margin.bottom;

                // set the ranges
                var x = d3.scaleBand()
                    .range([0, width])
                    .padding(0.1);
                var y = d3.scaleLinear()
                    .range([height, 0]);

                // append the svg object to the body of the page
                // append a 'group' element to 'svg'
                // moves the 'group' element to the top left margin
                var svg = d3.select("#graddate")
                    .append("g")
                    .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");

                // load the external data
                d3.json("{{ path('data_graddate') }}", function (error, data) {
                    if (error) throw error;

                    // format the data
                    data.forEach(function (d) {
                        d.value = +d.value;
                    });

                    // Scale the range of the data in the domains
                    x.domain(data.map(function (d) {
                        return d.area;
                    }));
                    y.domain([0, d3.max(data, function (d) {
                        return d.value;
                    })]);

                    // append the rectangles for the bar chart
                    svg.selectAll(".bar")
                        .data(data)
                        .enter().append("rect")
                        .attr("class", "graddate_bar")
                        .attr("x", function (d) {
                            return x(d.area);
                        })
                        .attr("width", x.bandwidth())
                        .attr("y", function (d) {
                            return y(d.value);
                        })
                        .attr("height", function (d) {
                            return height - y(d.value);
                        });

                    // add the x Axis
                    svg.append("g")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(x));

                    // add the y Axis
                    svg.append("g")
                        .call(d3.axisLeft(y));

                });
            }

            graddate();

            $.getJSON("{{ path('data_school') }}",
                function (json) {
                    var tr;
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + json[i].area + "</td>");
                        tr.append("<td>" + json[i].value + "</td>");
                        $('table#schoolsDataTable').append(tr);
                    }
                });
            $.getJSON("{{ path('data_graddate') }}",
                function (json) {
                    var tr;
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + json[i].area + "</td>");
                        tr.append("<td>" + json[i].value + "</td>");
                        $('table#graddateDataTable').append(tr);
                    }
                });
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
         <div class="col-sm-2 offset-sm-1">
            <h2>Schools</h2>
            <table id="schoolsDataTable" border="1">
            </table>
        </div>
        <div class="col-sm-8">
            <svg id="schools" width="960" height="700"></svg>
        </div>
    </div>
    <div class="row">
         <div class="col-sm-2 offset-sm-1">
            <h2>Graduation Dates</h2>
            <table id="graddateDataTable" border="1">
            </table>
        </div>
        <div class="col-sm-8">
            <svg id="graddate" width="960" height="700"></svg>
        </div>
    </div>
{% endblock %}
