{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if section is defined %}
                                {% for page in section.pages if page.access=='public' %}
                                    {% if (page.link is null or page.link == '') %}
                                        <li class="nav-item"><a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a></li>
                                    {% else %}
                                        <li class="nav-item" ><a href="{{ page.link }}">{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item"><strong>Admin</strong></li>
                                    {% for page in section.pages if page.access=='admin' %}
                                        {% if (page.link is null or page.link == '') %}
                                            <li class="nav-item"><a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a></li>
                                        {% else %}
                                            <li class="nav-item" ><a href="{{ page.link }}">{{ page.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-8">
            <h1>Resource</h1>

            {% for tag in entity.tags %}<div class="btn btn-primary btn-sm" style="background-color: {{ tag.color }}">{{ tag.title }}</div>{% endfor %}
            {% if is_granted('ROLE_ADMIN') %}
            <a class="float-sm-right btn btn-primary" href="{{ path('source_edit', { 'id': entity.id }) }}">
                Edit
            </a>
            {% endif %}

            <table class="table">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Organization</th>
                    <td>{{ entity.organization }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ entity.type }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ entity.title }}</td>
                </tr>
                <tr>
                    <th>Contact/URL</th>
                    <td>{% if 'http' in entity.contact %}
                            <a href="{{ entity.contact }}" target="_blank">{{ entity.contact }}</a>
                        {% else %}
                            {{ entity.contact }}
                        {% endif %}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description|raw }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
