{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $.tablesorter.themes.bootstrap = {
                table: 'table table-bordered table-striped',
                caption: 'caption',
                header: 'bootstrap-header',
                iconSortNone: 'bootstrap-icon-unsorted',
                iconSortAsc: 'glyphicon glyphicon-chevron-up',
                iconSortDesc: 'glyphicon glyphicon-chevron-down',
            };
            $("table").tablesorter({
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: ["uitheme", "filter", "zebra"],
                widgetOptions: {
                    zebra: ["even", "odd"],
                    filter_reset: ".reset",
                    filter_cssFilter: "form-control",
                },
                headers: {}
            });
            $('.tag_filter').click(function (event) {
                var row_selector = 'div.tag' + event.target.id;
                $('.idea_row').hide();
                $(row_selector).parent().parent().show();
            });
            $('#tag_showall').click(function () {
                $('.idea_row').show();
            });
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if section is defined %}
                                {% for page in section.pages if page.access=='public' %}
                                    {% if (page.link is null or page.link == '') %}
                                        <li class="nav-item"><a
                                                    href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item"><strong>Admin</strong></li>
                                    {% for page in section.pages if page.access=='admin' %}
                                        {% if (page.link is null or page.link == '') %}
                                            <li class="nav-item"><a
                                                        href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a>
                                            </li>
                                        {% else %}
                                            <li class="nav-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-8">
            <h1>Capstone/Grant Ideas</h1>

            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}

            <p>This list is designed to help you get started on imagining a capstone project or an Office of
                Sustainability grant project
                (or both). The tags on the left are clickable.</p>
            <p>Have a great idea? Submit it here: <a class="btn btn-primary" href="{{ path('idea_new') }}">
                    Idea Submission Form
                </a></p>

            {% for tag in tags if tag.subs|length > 0 %}
                <div id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                     style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                {% for tag in tag.subs %}
                    <div id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                         style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                {% endfor %}
            {% endfor %}
            {% for tag in tags if tag.top|length == 0 and tag.subs|length == 0 %}
                <div id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                     style="background-color: {{ tag.color }}">{{ tag.title }}</div>
            {% endfor %}
            <div id="tag_showall" class="btn btn-primary btn-sm tag_filter">Show all</div>

            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Tags</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="idea_row" id="{{ entity.id }}">
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('idea_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                        <td>{{ entity.description|raw }}</td>
                        <td>{% for tag in entity.tags %}
                                <div class="btn btn-primary btn-sm tag{{ tag.id }}"
                                     style="background-color: {{ tag.color }}">{{ tag.title }}</div>{% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
