{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if section is defined %}
                                {% for page in section.pages %}
                                    {% if (page.link is null or page.link == '') %}
                                        <li class="nav-item">
                                            <a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <li class="nav-item">
                                <a href="{{ path('idea', {"status":"approved"}) }}">
                                    Capstone Ideas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('source') }}">
                                    Capstone Resources
                                </a>
                            </li>
                            {% if is_granted('ROLE_USER') %}
                                <li class="nav-item">
                                    <a href="{{ path('capstones_completed') }}">
                                        Completed Capstones
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a id="tag_showall" href="javascript:void(0)">
                                    Show all
                                </a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    Admin
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('tag') }}">
                                        Tags
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('idea', {"status":"pending"}) }}">
                                        Pending Ideas
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">

            <h1>{{ entity.title }}</h1>

            {{ entity.description|raw }}
            {% if is_granted('ROLE_ADMIN') %}
            <a class="float-sm-right btn btn-primary" href="{{ path('idea_edit', { 'id': entity.id }) }}">
                Edit
            </a>
            <a class="float-sm-right btn btn-primary" href="{{ path('idea_approve', { 'id': entity.id }) }}">
                Approve
            </a>
            {% endif %}

                <h1>Resource list</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Organization</th>
                        <th>Contact/URL</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for source in sources %}
                        <tr>
                            <td><a href="{{ path('source_show', { 'id': source.id }) }}">{{ source.name }}</a></td>
                            <td><a href="{{ path('source_show', { 'id': source.id }) }}">{{ source.organization }}</a></td>
                            <td>{% if 'http' in source.contact %}
                                    <a href="{{ source.contact }}" target="_blank">{{ source.contact }}</a>
                                {% else %}
                                    {{ source.contact }}
                                {% endif %}</td>
                            <td>{% for tag in source.tags %}<div class="btn btn-primary btn-sm" style="background-color: {{ tag.color }}">{{ tag.title }}</div>{% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>



        </div>
{% endblock %}
