{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-8 offset-sm-1">
            <h1>Forums</h1>
            <p>Forums are for sharing information to assist you in your work in sustainability. Please offer you
                insights on
                the topics below. </p>
            <p>If you have an idea for a new topic, please let us know (scdirector@uga.edu).</p>

            {% for entity in entities %}
                <div class="card">
                    <div class="card-header">
                        {% if app.user.username == entity.user.username %}
                            <a href="{{ path('forum_edit', { 'id': entity.id }) }}"
                               class="float-sm-right btn btn-primary">Edit</a>
                        {% endif %}
                        <h4 class="card-title">
                            <a href="{{ path('forum_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                        </h4>
                    </div>
                    <div class="card-block">
                        {{ entity.body|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">

                        </ul>

                        {% if is_granted('ROLE_ADMIN') %}
                            <ul class="nav navbar-sidenav">
                                <li class="nav-item"><a href="{{ path('forum_new') }}">
                                        New Forum
                                    </a></li>
                            </ul>
                        {% endif %}
                    </div>
                </nav>

            </div>
        </div>
    </div>
{% endblock %}
