{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            <li class="nav-item"><a href="{{ path('network') }}">
                                    Certificate Students
                                </a></li>
                            {% for entity in forums %}
                                <li class="nav-item">
                                    <a href="{{ path('forum_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                        {% if is_granted('ROLE_ADMIN') %}
                            <ul class="nav navbar-sidenav">
                                <li class="nav-item">
                                    <a  href="{{ path('forum_new', {'id':entity.id}) }}">New Forum</a>
                                </li>
                            </ul>
                        {% endif %}

                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h2>{{ entity.title }}</h2>
                </div>
                <div class="card-block">
                    {{ entity.body|raw }}

                    <a class="btn btn-primary btn-sm" href="{{ path('forum_new', {'id':entity.id}) }}">Respond</a>
                    {% if app.user.username == entity.user.username %}
                        <a href="{{ path('forum_edit', { 'id': entity.id }) }}"
                           class="btn btn-primary btn-sm">Edit</a>
                    {% endif %}


                    <div id="accordion" role="tablist" aria-multiselectable="true">


                        {% for entity in entity.children %}
                            <div class="card margin-top">
                                <div class="card-header" role="tab" id="heading{{ loop.index }}">
                                    <h4>
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse{{ loop.index }}"
                                           aria-expanded="true"
                                           aria-controls="collapse{{ loop.index }}">
                                            {{ entity.title }}
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapse{{ loop.index }}" class="collapse {% if loop.first %}in{% endif %}"
                                     role="tabpanel"
                                     aria-labelledby="heading{{ loop.index }}">
                                    <div class="card-block">
                                        {{ entity.body|raw }}

                                        <a class="btn btn-primary btn-sm"
                                           href="{{ path('forum_new', {'id':entity.id}) }}">Respond</a>
                                        {% if app.user.username == entity.user.username %}
                                            <a href="{{ path('forum_edit', { 'id': entity.id }) }}"
                                               class="btn btn-primary btn-sm">Edit</a>
                                        {% endif %}

                                        <span class="float-sm-right">Posted by {{ entity.user.firstname }} {{ entity.user.lastname }}
                                            on {{ entity.updated | date("l, F d") }}</span>
                                        {% for entity in entity.children %}
                                            <div class="card margin-top">
                                                <div class="card-header">
                                                    <h5>
                                                        <a href="{{ path('forum_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                                                    </h5>
                                                </div>
                                                <div class="card-block">
                                                    {{ entity.body|raw }}

                                                    <a class="btn btn-primary btn-sm"
                                                       href="{{ path('forum_new', {'id':entity.id}) }}">Respond</a>
                                                    {% if app.user.username == entity.user.username %}
                                                        <a href="{{ path('forum_edit', { 'id': entity.id }) }}"
                                                           class="btn btn-primary btn-sm">Edit</a>
                                                    {% endif %}

                                                    <span class="float-sm-right">Posted by {{ entity.user.firstname }} {{ entity.user.lastname }}
                                                        on {{ entity.updated | date("l, F d") }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
