{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-xs-12">
            <h1>Reviews</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>For</th>
                    <th>By</th>
                    <th>Updated</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('responseset_show', { 'id': entity.id }) }}"> {{ entity.capstone.user.firstname }} {{ entity.capstone.user.lastname }}</a>
                        </td>
                        <td>{{ entity.user.firstname }} {{ entity.user.lastname }}</td>
                        <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <a href="{{ path('responseset_edit', { 'id': entity.id }) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
