{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $.tablesorter.themes.bootstrap = {
                table: 'table table-bordered table-striped',
                caption: 'caption',
                header: 'bootstrap-header',
                iconSortNone: 'bootstrap-icon-unsorted',
                iconSortAsc: 'glyphicon glyphicon-chevron-up',
                iconSortDesc: 'glyphicon glyphicon-chevron-down',
            };
            $("table").tablesorter({
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: ["uitheme", "filter", "zebra"],
                widgetOptions: {
                    zebra: ["even", "odd"],
                    filter_reset: ".reset",
                    filter_cssFilter: "form-control",
                },
                headers: {}
            });
            $('.tag_filter').click(function (event) {
                var row_selector = 'div.tag' + event.target.id;
                $('.notification_row').hide();
                $(row_selector).parent().parent().show();
            });
            $('#tag_showall').click(function () {
                $('.notification_row').show();
            });
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            <li class="nav-item"><a href="{{ path('notification_new') }}">
                                    Create Notification
                                </a></li>
                            <li class="nav-item"><a href="{{ path('notification', {'status':'Shared'}) }}">
                                    Shared Notifications
                                </a></li>
                            <li class="nav-item"><a href="{{ path('notification', {'status':'New'}) }}">
                                    Individual Notifications
                                </a></li>
                            <li class="nav-item"><a href="{{ path('notification', {'status':'Dismissed'}) }}">
                                    Dismissed Notifications
                                </a></li>
                            <li class="nav-item"><a href="{{ path('post_new') }}">
                                    New Post
                                </a></li>
                            <li class="nav-item"><a href="{{ path('post') }}">
                                    List Posts
                                </a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-8">
            <h1>Notifications</h1>

            {% for tag in tags if tag.subs|length > 0 %}
                <div id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                     style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                {% for tag in tag.subs %}
                    <div id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                         style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                {% endfor %}
            {% endfor %}
            {% for tag in tags if tag.top|length == 0 and tag.subs|length == 0 %}
                <div id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                     style="background-color: {{ tag.color }}">{{ tag.title }}</div>
            {% endfor %}
            <div id="tag_showall" class="btn btn-primary btn-sm tag_filter">Show all</div>

            <table class="table">
                <thead>
                <tr>
                    <th>Start/End</th>
                    <th>Date/Post/Body</th>
                    <th>Status</th>
                    <th>Tags</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="notification_row">
                        <td><a href="{{ path('notification_show', { 'id': entity.id }) }}">{% if entity.displayStart %}{{ entity.displayStart|date('m-d-Y H:i A') }}{% endif %}<br/><br/>{% if entity.displayEnd %}{{ entity.displayEnd|date('m-d-Y H:i A') }}{% endif %}</a></td>
                        <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}
                            {% if entity.post %}{{ entity.post.body|raw }}{% endif %}
                            {{ entity.body|raw }}
                        </td>
                        <td>{{ entity.status }}</td>
                        <td>{% for tag in entity.tags %}
                                <div class="btn btn-primary btn-sm tag{{ tag.id }}"
                                     style="background-color: {{ tag.color }}">{{ tag.title }}</div>{% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
