{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            <li class="nav-item"><a href="{{ path('notification_new') }}">
                                    Create Notification
                                </a></li>
                            <li class="nav-item"><a href="{{ path('notification', {'status':'Shared'}) }}">
                                    Shared Notifications
                                </a></li>
                            <li class="nav-item"><a href="{{ path('notification', {'status':'New'}) }}">
                                    New Notifications
                                </a></li>
                            <li class="nav-item"><a href="{{ path('notification', {'status':'Dismissed'}) }}">
                                    Dismissed Notifications
                                </a></li>
                            <li class="nav-item"><a href="{{ path('post_new') }}">
                                    New Post
                                </a></li>
                            <li class="nav-item"><a href="{{ path('post') }}">
                                    List Posts
                                </a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-8">
            <h1>Notifications</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Start/End</th>
                    <th>Date/Post/Body</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('notification_show', { 'id': entity.id }) }}">{% if entity.displayStart %}{{ entity.displayStart|date('m-d-Y H:i A') }}{% endif %}<br/><br/>{% if entity.displayEnd %}{{ entity.displayEnd|date('m-d-Y H:i A') }}{% endif %}</a></td>
                        <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}
                            {% if entity.post %}{{ entity.post.body|raw }}{% endif %}
                            {{ entity.body|raw }}
                        </td>
                        <td>{{ entity.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
