{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            <li class="nav-item"><a href="{{ path('notification_new') }}">
                                    Create Notification
                                </a></li>
                            <li class="nav-item"><a href="{{ path('notification', {'status':'Shared'}) }}">
                                    Shared Notifications
                                </a></li>
                            <li class="nav-item"><a href="{{ path('notification', {'status':'New'}) }}">
                                    Individual Notifications
                                </a></li>
                            <li class="nav-item"><a href="{{ path('notification', {'status':'Dismissed'}) }}">
                                    Dismissed Notifications
                                </a></li>
                            <li class="nav-item"><a href="{{ path('post_new') }}">
                                    New Post
                                </a></li>
                            <li class="nav-item"><a href="{{ path('post') }}">
                                    List Posts
                                </a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-8">
            <h1>Notification</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Event Date</th>
                    <td>{{ entity.date|date('m-d-Y h:i a') }}</td>
                </tr>
                <tr>
                    <th>Post</th>
                    <td>{% if entity.post %}{{ entity.post.body|raw }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Additional Text</th>
                    <td>{{ entity.body|raw }}</td>
                </tr>
                <tr>
                    <th>Display Start</th>
                    <td>{{ entity.displayStart|date('m-d-Y h:i a') }}</td>
                </tr>
                <tr>
                    <th>Display End</th>
                    <td>{{ entity.displayEnd|date('m-d-Y h:i a') }}</td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td>{{ entity.status }}</td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td>{% for tag in entity.tags %}<div class="btn btn-primary btn-sm" style="background-color: {{ tag.color }}">{{ tag.title }}</div>{% endfor %}
                    </td>
                </tr>
                 </tbody>
            </table>
            <a class="btn btn-primary" href="{{ path('notification_edit', { 'id': entity.id }) }}">
                Edit
            </a>

        </div>
    </div>
{% endblock %}
