{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Checklist</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Exceptions</th>
                <td>{{ entity.exceptions }}</td>
            </tr>
            <tr>
                <th>Portfolio</th>
                <td>{{ entity.portfolio }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('checklist') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('checklist_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
