{% extends 'AppBundle:User:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}


{% block body -%}
    <div class="col-sm-8 col-xs-12">

        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success flash-notice">
                <h4 class="alert-heading">Congrats!</h4>
                <p>{{ flash_message }}</p>
            </div>
        {% endfor %}


        {% if app.user.username == entity.username or is_granted('ROLE_SUPER_ADMIN') %}
            <a class='btn btn-primary' href="{{ path('user_show', { 'id': entity.id }) }}">Profile</a>
            <a class='btn btn-primary' href="{{ path('program_show', { 'id': entity.id }) }}">Application</a>
            <a class='btn btn-primary disabled' href="#">Checklist</a>
            {% if entity.capstone %}
                <a class='btn btn-primary' href="{{ path('capstone_show', { 'id': entity.id }) }}">Capstone</a>
            {% else %}
                <a class='btn btn-primary' href="{{ path('capstone_new') }}">Start Capstone</a>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <a class="btn btn-primary" href="{{ path('user_profile') }}?_switch_user=_exit">
                Exit login as</a>
        {% endif %}
        <hr/>


        {#  *********************** Certificate Checklist ***********************  #}
        <h2>Checklist for {{ entity.firstname }} {{ entity.lastname }}</h2>

        <div class="alert alert-info margin-top" role="alert">
            <p>The checklist allows you to track your progress through the program. Please
                update
                regularly.
            </p>
            <p> For details, please
                <a href="{{ path('page_show',  { 'id': '12'}) }}">
                    review the
                    <strong>Guidelines for the Certificate.</strong>
                </a></p>
        </div>

        {% if app.user.username == entity.username %}
            {% if entity.checklist %}
                <a class="btn btn-primary"
                   href="{{ path('checklist_edit',  { 'id': entity.checklist.id }) }}">
                    Update Checklist
                </a>
                <a class="btn btn-primary" href="{{ path('substitution_new') }}">
                    Apply for a Substitution
                </a>
                {% if entity.checklist.portDate == null %}
                    <a class='btn btn-primary'
                       href="{{ path('checklist_portcomplete',  { 'id': entity.checklist.id}) }}">I've Completed the
                        Portfolio
                    </a>
                {% endif %}
                {% set count = 0 %}
                {% for tag in entity.tags %}
                    {% if tag.id ==112 %}{%  set count = count + 1 %}{% endif %}
                {% endfor %}
                {% if count == 0 %}
                <a class='btn btn-primary'
                   href="{{ path('checklist_certcomplete',  { 'id': entity.checklist.id}) }}">I've Completed my
                    Certficate</strong>
                </a>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if entity.checklist %}
            <table class="table margin-top">
                <tbody>
                <tr>
                    <th>Progress</th>
                    <td>
                        {% for tag in entity.tags %}
                            <div class="btn btn-primary btn-sm tag{{ tag.id }}"
                                 style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Certificate added in Athena</th>
                    <td>{% if entity.checklist.athena %}{{ entity.checklist.athena|date('m/d/Y') }}
                        {% else %}<p>All students should add the Sustainability Certificate
                            to
                            their active curricula program via the MyPrograms option in
                            Athena.</p><a
                                href="https://sis-ssb-prod.uga.edu/PROD/twbkwbis.P_GenMenu?name=homepage"
                                target="_blank">Add Certificate in Athena Now</a>{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Pre-Certificate Survey Completed</th>
                    <td>{% if entity.checklist.preAssess %}{{ entity.checklist.preAssess|date('m/d/Y') }}
                        {% else %}<p>This survey is part of our assessment of the
                            certificate.
                            Please complete it at the beginning of your program. </p><a
                                href="https://ugeorgia.qualtrics.com/SE/?SID=SV_eQWZLWcQhfLEb0V"
                                target="_blank">Take the Survey Now</a>{% endif %}</td>
                </tr>
                <tr>
                    <th>Orientation Completed</th>
                    <td>{% if entity.checklist.orientation %}{{ entity.checklist.orientation|date('m/d/Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Anchor</th>
                    <td>{% if entity.checklist.anchor %}
                            <a href="{{ path('course_show', { 'id': entity.checklist.anchor.id }) }}">
                                {{ entity.checklist.anchor.name }}
                                : {{ entity.checklist.anchor.title }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="alert alert-success" role="alert">
                            <p>
                                We require that at least one of the spheres come
                                from
                                courses outside you major and highly recommended that
                                two of
                                the three spheres come from courses outside of your
                                major to
                                develop the broadest perspective on sustainability.
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Ecological Sphere</th>
                    <td>{% if entity.checklist.sphere1 %}
                            <a href="{{ path('course_show', { 'id': entity.checklist.sphere1.id }) }}">
                                {{ entity.checklist.sphere1.name }}
                                : {{ entity.checklist.sphere1.title }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Economic Sphere</th>
                    <td>{% if entity.checklist.sphere2 %}
                            <a href="{{ path('course_show', { 'id': entity.checklist.sphere2.id }) }}">
                                {{ entity.checklist.sphere2.name }}
                                : {{ entity.checklist.sphere2.title }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Social Sphere</th>
                    <td>{% if entity.checklist.sphere3 %}
                            <a href="{{ path('course_show', { 'id': entity.checklist.sphere3.id }) }}">
                                {{ entity.checklist.sphere3.name }}
                                : {{ entity.checklist.sphere3.title }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Seminar (2 semesters required)</th>
                    <td>{% if entity.checklist.seminar %}
                            <a href="{{ path('course_show', { 'id': entity.checklist.seminar.id }) }}">
                                {{ entity.checklist.seminar.name }}
                                : {{ entity.checklist.seminar.title }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Capstone Work Plan</th>
                    <td>{% if entity.checklist.capstone %}
                            <a href="{{ path('course_show', { 'id': entity.checklist.capstone.id }) }}">
                                {{ entity.checklist.capstone.name }}
                                : {{ entity.checklist.capstone.title }}
                            </a>
                        {% endif %}
                        {% if entity.capstone %}
                            {{ entity.capstone.status }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Capstone Term</th>
                    <td>{{ entity.checklist.capstonedate }} {{ entity.checklist.capstoneterm }}</td>
                </tr>
                <tr>
                    <th>Presentation</th>
                    <td>{{ entity.checklist.presentation }}</td>
                </tr>
                <tr>
                    <th>Post-Certificate Survey Completed</th>
                    <td>{% if entity.checklist.postAssess %}{{ entity.checklist.postAssess|date('m/d/Y') }}
                        {% else %}<p>This survey is part of our assessment of the
                            certificate.
                            Please complete it at the end of your program.</p>  <a
                                href="https://ugeorgia.qualtrics.com/SE/?SID=SV_8vvElrQSuli7Pg1"
                                target="_blank">Take the Survey Now</a>{% endif %}</td>
                </tr>
                <tr>
                    <th>Apply to Graduate in Athena</th>
                    <td><p>Applied to Graduate: {{ entity.checklist.appliedtograd }}</p>
                        <p>Please remember to apply to
                            graduate with the Sustainability Certificate in Athena the
                            semester you will graduate from UGA. <a
                                    href="https://sis-ssb-prod.uga.edu/PROD/twbkwbis.P_GenMenu?name=homepage"
                                    target="_blank">Apply Now</a></p></td>
                </tr>
                <tr>
                    <th>Graduation Term</th>
                    <td>{{ entity.checklist.graddate }} {{ entity.checklist.gradterm }}</td>
                </tr>
                <tr>
                    <th>Portfolio</th>
                    <td><a href="{{ entity.checklist.portfolio }}"
                           target="_blank">{{ entity.checklist.portfolio }}</a><br/>

                        {% if entity.checklist.portDate == null %}
                            The portfolio is not yet complete
                        {% else %}
                            Completed:  {{ entity.checklist.portDate | date("m/d/Y g:ia") }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td>{{ entity.checklist.updated | date("m/d/Y g:ia") }}</td>
                </tr>
                </tbody>
            </table>


            <h3>Substitutions</h3>

            <p>{{ entity.checklist.exceptions | raw }}</p>

            {% for substitution in entity.checklist.substitutions %}
                <p>{{ substitution.requirement }} (Status: {{ substitution.status }})
                    <a class="btn btn-primary float-sm-right"
                       href="{{ path('substitution_edit', { 'id': substitution.id }) }}">
                        Edit
                    </a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="btn btn-primary float-sm-right"
                           href="{{ path('substitution_approve', { 'id': substitution.id }) }}">
                            Approve
                        </a>
                        <a class="btn btn-primary float-sm-right"
                           href="{{ path('substitution_deny', { 'id': substitution.id }) }}">
                            Deny
                        </a>
                    {% endif %}
                </p>
                <p>{{ substitution.description|raw }}</p>
                <hr/>
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}
