{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-8 offset-sm-1">
            <h1>Organizations</h1>
            <p>Organizations with a sustainability-related focus.</p>


            {% for entity in entities %}
                <div class="card">
                    <div class="card-header">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('organization_edit', { 'id': entity.id }) }}"
                               class="float-sm-right btn btn-primary">Edit</a>
                        {% endif %}
                        <h4 class="card-title">
                            <a href="{{ path('organization_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                        </h4>
                    </div>
                    <div class="card-block">
                        {{ entity.body|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">

                        </ul>


                            <ul class="nav navbar-sidenav">
                                <li class="nav-item"><a href="{{ path('organization') }}">
                                        Organizations
                                    </a></li>
                                <li class="nav-item"><a href="{{ path('network') }}">
                                        Certificate Students
                                    </a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a href="{{ path('organization_new') }}">
                                        New Organization
                                    </a></li>
                                {% endif %}
                            </ul>

                    </div>
                </nav>

            </div>
        </div>
    </div>
{% endblock %}