{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Partner</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Purpose</th>
                <td>{{ entity.purpose }}</td>
            </tr>
            <tr>
                <th>Background</th>
                <td>{{ entity.background }}</td>
            </tr>
            <tr>
                <th>Contribution</th>
                <td>{{ entity.contribution }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ entity.details }}</td>
            </tr>
            <tr>
                <th>Deliverables</th>
                <td>{{ entity.deliverables }}</td>
            </tr>
            <tr>
                <th>Outcomes</th>
                <td>{{ entity.outcomes }}</td>
            </tr>
            <tr>
                <th>Considerations</th>
                <td>{{ entity.considerations }}</td>
            </tr>
            <tr>
                <th>Sources</th>
                <td>{{ entity.sources }}</td>
            </tr>
            <tr>
                <th>Qualifications</th>
                <td>{{ entity.qualifications }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('partner') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('partner_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
