{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $.tablesorter.themes.bootstrap = {
                table: 'table table-bordered table-striped',
                caption: 'caption',
                header: 'bootstrap-header',
                iconSortNone: 'bootstrap-icon-unsorted',
                iconSortAsc: 'glyphicon glyphicon-chevron-up',
                iconSortDesc: 'glyphicon glyphicon-chevron-down',
            };
            $("table").tablesorter({
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: ["uitheme", "filter", "zebra"],
                widgetOptions: {
                    zebra: ["even", "odd"],
                    filter_reset: ".reset",
                    filter_cssFilter: "form-control",
                },
                headers: {
                    6: {sorter: false, filter: false},
                }
            });
//            $('.tag_filter').click(function (event) {
//                var row_selector = 'div.tag' + event.target.id;
//                $('.user_row').hide();
//                $('.user_email').hide();
//                $(row_selector).parent().parent().show();
//                $('#email_list').empty().append($('tr:visible td.email').text() );
//                var rowCount = $('tbody tr:visible').length;
//                $( "span.count" ).html( '(' + rowCount  + ')' );
//                $(window).scrollTop(0);
//            });
            var rowCount = $('tbody tr:visible').length;
            $("span.count").html('(' + rowCount + ')');
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row" style="padding:3em;padding-top:1em">
        <div class="col-sm-12">
            <h1 class="inline">Certificate Accounts <span class="count"></span></h1>

            <a class="btn btn-primary"
               href="{{ path('user', {'tag': app.request.get("tag"), 'term': app.request.get('term'), 'date': app.request.get('date'),'view':'index'}) }}">Index
                View</a>
            <br/>

            <a class="btn btn-primary btn-sm"
               href="{{ path('user', {'tag': 'students', 'term': 'All', 'date': 'All','view':'grad'}) }}">All
                Students</a>
            {% for tag in tags if tag.subs|length > 0 %}
                <a href="{{ path('user', { 'tag': tag.title, 'term': 'All', 'date': 'All','view':'grad' }) }}"
                   id="{{ tag.id }}"
                   class="btn btn-primary btn-sm"
                   style="background-color: {{ tag.color }}">{{ tag.title }}</a>
                {% for tag in tag.subs %}
                    <a href="{{ path('user', { 'tag': tag.title, 'term': 'All', 'date': 'All','view':'grad' }) }}"
                       id="{{ tag.id }}"
                       class="btn btn-primary btn-sm"
                       style="background-color: {{ tag.color }}">{{ tag.title }}</a>
                {% endfor %}
            {% endfor %}
            {% for tag in tags if tag.top|length == 0 and tag.subs|length == 0 %}
                <a href="{{ path('user', { 'tag': tag.title, 'term': 'All', 'date': 'All','view':'grad' }) }}"
                   id="{{ tag.id }}"
                   class="btn btn-primary btn-sm"
                   style="background-color: {{ tag.color }}">{{ tag.title }}</a>
            {% endfor %}
            <a class="btn btn-secondary btn-sm" style="background-color: green; color:white"
               href="{{ path('user_mentor_mapping') }}">Mentor
                Mapping</a>
            <br/>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Spring', 'date': '2018','view':'grad' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2018 Spring</a>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Summer', 'date': '2018','view':'grad' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2018 Summer</a>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Fall', 'date': '2018','view':'grad' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2018 Fall</a>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Spring', 'date': '2019','view':'grad' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2019 Spring</a>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Summer', 'date': '2019','view':'grad' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2019 Summer</a>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Fall', 'date': '2019','view':'grad' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2019 Fall</a>

            <table class="table" style="margin-top: 2em">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="hidden-sm-down">Graduation Term</th>
                    <th class="hidden-sm-down">Program</th>
                    <th class="hidden-sm-down">Capstone</th>
                    <th class=" hidden-sm-down">Presentation</th>
                    <th class="hidden-sm-down">Portfolio</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class=" user_row" id="{{ entity.id }}">
                        <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.lastname }}
                                , {{ entity.firstname }}</a>
                        </td>
                        <td class="email">{{ entity.email }};</td>
                        <td class="hidden-sm-down">
                            <div class="btn btn-primary btn-sm tag{{ entity.program.graddate }}{{ entity.program.gradterm }}"
                                 style="background-color: #20773b">{{ entity.graddate }} {{ entity.gradterm }}</div>
                        </td>
                        <td class="hidden-sm-down">
                            {% if entity.program %}
                                {% if entity.program.school1 %}{{ entity.program.school1.name }}{% else %}{{ entity.program.school }}{% endif %}
                                {% if entity.program.major1 %}:: {{ entity.program.major1.name }}{% else %}{{ entity.program.program }}{% endif %}
                                {% if entity.program.school2 %}{{ entity.program.school2.name }}{% endif %}
                                {% if entity.program.major2 %}:: {{ entity.program.major2.name }}{% endif %}<br/>
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.checklist %}
                            {% if entity.checklist.capstone %}
                                <a href="{{ path('course_show', { 'id': entity.checklist.capstone.id }) }}">
                                    {{ entity.checklist.capstone.name }}
                                </a>
                            {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.checklist %}{{ entity.checklist.presentation }}{% endif %}
                        </td>
                        <td>
                            {% if entity.checklist %}<a target="_blank" href="{{ entity.checklist.portfolio }}">View</a>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>Email
                list: <span
                        id="email_list">{% for entity in entities %}{{ entity.email }}; {% endfor %}</span>
            </p>
            <p>Alt Email
                list: <span
                        id="email_list">{% for entity in entities if entity.altemail!='' %}{{ entity.altemail }}; {% endfor %}</span>
            </p>
        </div>

    </div>

{% endblock %}
