{% extends 'AppBundle:User:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $.tablesorter.themes.bootstrap = {
                table: 'table table-bordered table-striped',
                caption: 'caption',
                header: 'bootstrap-header',
                iconSortNone: 'bootstrap-icon-unsorted',
                iconSortAsc: 'glyphicon glyphicon-chevron-up',
                iconSortDesc: 'glyphicon glyphicon-chevron-down',
            };
            $("table").tablesorter({
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: ["uitheme", "filter", "zebra"],
                widgetOptions: {
                    zebra: ["even", "odd"],
                    filter_reset: ".reset",
                    filter_cssFilter: "form-control",
                },
                headers: {
                    5: {sorter: false, filter: false},
                }
            });
//            $('.tag_filter').click(function (event) {
//                var row_selector = 'div.tag' + event.target.id;
//                $('.user_row').hide();
//                $('.user_email').hide();
//                $(row_selector).parent().parent().show();
//                $('#email_list').empty().append($('tr:visible td.email').text() );
//                var rowCount = $('tbody tr:visible').length;
//                $( "span.count" ).html( '(' + rowCount  + ')' );
//                $(window).scrollTop(0);
//            });
            var rowCount = $('tbody tr:visible').length;
            $("span.count").html('(' + rowCount + ')');
        });
    </script>
{% endblock %}

{% block body -%}
    {{ parent() }}
<div class="col-sm-12">
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if view=='index' %}{% set view = 'grad' %}{% else %}{% set view = 'index' %}{% endif %}
        <h1 class="inline">Certificate Accounts <span class="count"></span></h1>
        <a class="btn btn-primary"
           href="{{ path('user', {'tag': app.request.get("tag"), 'term': app.request.get('term'), 'date': app.request.get('date'),'view':view}) }}">Toggle
            View</a>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="hidden-sm-down">Graduation</th>
                <th class="hidden-sm-down">Capstone</th>
                <th class="hidden-sm-down">Program (Minor)/Placement</th>
{#                <th>Progress</th>#}
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr class="user_row" id="{{ entity.id }}">
                    <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.lastname }}
                            , {{ entity.firstname }}</a>
                    </td>
                    <td class="email">{{ entity.email }};</td>
                    <td class="hidden-sm-down">
                        <div class="btn btn-primary btn-sm tag{{ entity.graddate }}{{ entity.gradterm }}"
                             style="background-color: #20773b">{{ entity.graddate }} {{ entity.gradterm }}</div>
                    </td>
                    <td class="hidden-sm-down">
                        {% if entity.checklist %}
                            {{ entity.checklist.capstonedate }} {{ entity.checklist.capstoneterm }}
                        {% endif %}
                    </td>
                    <td class="hidden-sm-down">
                        {% if entity.program %}
                        {% if entity.program.level=='Graduate' %}{{ entity.program.level }}:{% endif %}
                            {% if entity.program.school1 %}{{ entity.program.school1.name }}{% else %}{{ entity.program.school }}{% endif %}
                            {% if entity.program.major1 %}:: {{ entity.program.major1.name }}{% else %}{{ entity.program.program }}{% endif %}
                            {% if entity.program.school2 %}{{ entity.program.school2.name }}{% endif %}
                            {% if entity.program.major2 %}:: {{ entity.program.major2.name }}{% endif %}
                            {% if entity.program.minors %}  ({{ entity.program.minors }}){% endif %}
                            <br/>
                        {% endif %}
                        {% if entity.placement != '' %}<br/>Placement: {{ entity.placement }}{% endif %}
                    </td>
{#                    <td>#}
{#                        {% for tag in entity.tags %}#}
{#                            <div class="btn btn-primary btn-sm tag{{ tag.id }}"#}
{#                                 style="background-color: {{ tag.color }}">{{ tag.title }}</div>#}
{#                        {% endfor %}#}
{#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Email
            list: <span
                    id="email_list">{% for entity in entities %}{{ entity.email }}; {% endfor %}</span>
        </p>
        <p>Alt Email
            list: <span
                    id="email_list">{% for entity in entities if entity.altemail!='' %}{{ entity.altemail }}; {% endfor %}</span>
        </p>
    </div>
{% endblock %}
