{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $.tablesorter.themes.bootstrap = {
                table: 'table table-bordered table-striped',
                caption: 'caption',
                header: 'bootstrap-header',
                iconSortNone: 'bootstrap-icon-unsorted',
                iconSortAsc: 'glyphicon glyphicon-chevron-up',
                iconSortDesc: 'glyphicon glyphicon-chevron-down',
            };
            $("table").tablesorter({
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: ["uitheme", "filter", "zebra"],
                widgetOptions: {
                    zebra: ["even", "odd"],
                    filter_reset: ".reset",
                    filter_cssFilter: "form-control",
                },
                headers: {
                    5: {sorter: false, filter: false},
                }
            });
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-2">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar  navbar-dark bg-inverse">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-nav">
                            {% for status in status %}
                                <li class="nav-item"><a href="{{ path('user', { 'type': status.id }) }}">{{ status.name }}</a></li>
                            {% endfor %}
                            <li class="nav-item"><a href="{{ path('user', { 'type': 'students' }) }}">All Students</a></li>
                            <li class="nav-item"><a href="{{ path('user', { 'type': 'all' }) }}">All Accounts</a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-10">

            <h1>{% if app.request.get('type')=='all' %}All Accounts ({{ entities|length }}){% elseif app.request.get('type')=='students' %}All Students ({{ entities|length }}){% else %}
                    {% if entities %}{{ entities[0].progress.name }} ({{ entities|length }}){% else %}Nothing found{% endif %}
                {% endif %}
            </h1>


            <table class="table">
                <thead>
                <tr>
                    <th>Name (Email)</th>
                    <th>School: Program</th>
                    <th>Expected Graduation</th>
                    <th>Progress</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.lastname }}, {{ entity.firstname }}</a> ({{ entity.email }})</td>
                        <td>{% if entity.program %}{{ entity.program.school }}: {{ entity.program.program }}{% endif %}</td>
                        <td>{% if entity.program %}{{ entity.program.graddate }} {{ entity.program.gradterm }}{% endif %}</td>
                        <td>{% if entity.progress %}{{ entity.progress.name }}{% else %}Account Created{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>Email list: {% for entity in entities %}{{ entity.email }}{% if not loop.last %}; {% endif %}{% endfor %}</p>

        </div>
    </div>

{% endblock %}
