{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $.tablesorter.themes.bootstrap = {
                table: 'table table-bordered table-striped',
                caption: 'caption',
                header: 'bootstrap-header',
                iconSortNone: 'bootstrap-icon-unsorted',
                iconSortAsc: 'glyphicon glyphicon-chevron-up',
                iconSortDesc: 'glyphicon glyphicon-chevron-down',
            };
            $("table").tablesorter({
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: ["uitheme", "filter", "zebra"],
                widgetOptions: {
                    zebra: ["even", "odd"],
                    filter_reset: ".reset",
                    filter_cssFilter: "form-control",
                },
                headers: {
                    5: {sorter: false, filter: false},
                }
            });
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary pull-right" href="{{ path('user', { 'type': 'Faculty' }) }}">Faculty</a>
            <a class="btn btn-primary pull-right" href="{{ path('user', { 'type': 'Students' }) }}">Students</a>
            <h1>{{ app.request.get('type') }} list</h1>


            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Graduation Date</th>
                    <th>Role(s)</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.lastname }}, {{ entity.firstname }}</a></td>

                        <td>{{ entity.email }}</td>
                        <td>{{ entity.status }}</td>
                        <td>{% if entity.program %}{{ entity.program.graddate }}{% endif %}</td>
                        <td>{% for role in entity.roles %} {{ role }} {% endfor %}</td>
                        <td>
                                    <a class="btn btn-primary" href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                         </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
