{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $.tablesorter.themes.bootstrap = {
                table: 'table table-bordered table-striped',
                caption: 'caption',
                header: 'bootstrap-header',
                iconSortNone: 'bootstrap-icon-unsorted',
                iconSortAsc: 'glyphicon glyphicon-chevron-up',
                iconSortDesc: 'glyphicon glyphicon-chevron-down',
            };
            $("table").tablesorter({
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: ["uitheme", "filter", "zebra"],
                widgetOptions: {
                    zebra: ["even", "odd"],
                    filter_reset: ".reset",
                    filter_cssFilter: "form-control",
                },
                headers: {
                    5: {sorter: false, filter: false},
                }
            });
            $('.tag_filter').click(function (event) {
                var row_selector = 'div.tag' + event.target.id;
                $('.user_row').hide();
                $('.user_email').hide();
                $(row_selector).parent().parent().show();
                $('#email_list').empty().append($('tr:visible td.email').text() );
                var rowCount = $('tbody tr:visible').length;
                $( "span.count" ).html( '(' + rowCount  + ')' );
            });
            var rowCount = $('tbody tr:visible').length;
            $( "span.count" ).html( '(' + rowCount  + ')' );
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-2">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <a class="btn btn-secondary btn-sm" href="{{ path('user', {'type': 'all'}) }}">All Accounts</a>
                        <br/><br/>
                        <a class="btn btn-primary btn-sm" href="{{ path('user', {'type': 'students'}) }}">All Students</a>
                        <br/><br/>
                        {% for tag in tags if tag.subs|length > 0 %}
                            <div id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                                 style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                            {% for tag in tag.subs %}
                                <div id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                                     style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                            {% endfor %}
                            <br/><br/>
                        {% endfor %}
                        {% for tag in tags if tag.top|length == 0 and tag.subs|length == 0 %}
                            <div id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                                 style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                        {% endfor %}
                        <br/>
                        <br/>
                        <a class="btn btn-secondary btn-sm" href="{{ path('user_mentor_mapping') }}">Mentor
                            Mapping</a>
                        <ul class="nav navbar-sidenav">
                            {#{% for status in status %}#}
                                {#<li class="nav-item"><a#}
                                            {#href="{{ path('user', { 'type': status.id }) }}">{{ status.name }}</a></li>#}
                            {#{% endfor %}#}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">
            <h1>Certificate Accounts <span class="count"></span> </h1>


            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="hidden-sm-down">Capstone Term</th>
                    <th class="hidden-sm-down">Graduation Term</th>
                    <th>Progress</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="user_row" id="{{ entity.id }}">
                        <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.lastname }}
                                , {{ entity.firstname }}</a>
                        </td>
                        <td class="email">{{ entity.email }}; </td>
                        <td class="hidden-sm-down">
                            {% if entity.checklist %}
                                {{ entity.checklist.capstonedate }} {{ entity.checklist.capstoneterm }}
                            {% endif %}
                        </td>
                        <td class="hidden-sm-down">
                            {% if entity.program %}
                                <div class="btn btn-primary btn-sm tag{{ entity.program.graddate }}{{ entity.program.gradterm }}"
                                     style="background-color: #20773b">{{ entity.program.graddate }} {{ entity.program.gradterm }}</div>

                                {#<a href="{{ path('user_graddate', { 'term': entity.program.gradterm, 'date': entity.program.graddate, }) }}">{{ entity.program.graddate }} {{ entity.program.gradterm }}</a>#}
                            {% endif %}
                        </td>
                        <td>
                            {#{% if entity.progress %}#}
                                {#<a href="{{ path('user', { 'type': entity.progress.id }) }}">{{ entity.progress.name }}</a>#}
                            {#{% else %}#}
                                {#Account Created#}
                            {#{% endif %}#}
                            {% for tag in entity.tags %}
                                <div class="btn btn-primary btn-sm tag{{ tag.id }}"
                                     style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>Email
                list: <span id="email_list">{% for entity in entities %}{{ entity.email }}{% if not loop.last %}; {% endif %}{% endfor %}</span></p>
        </div>

    </div>

{% endblock %}
