{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            {% if 'profile' in app.request.pathinfo %}
            $("a").removeClass('active');
            $("#profile_toggle").addClass('active');
            {% elseif 'checklist' in app.request.pathinfo %}
            $("a").removeClass('active');
            $("#checklist_toggle").addClass('active');
            {% elseif 'capstone' in app.request.pathinfo %}
            $("a").removeClass('active');
            $("#capstone_toggle").addClass('active');
            {% elseif 'program' in app.request.pathinfo %}
            $("a").removeClass('active');
            $("#application_toggle").addClass('active');
            {% endif %}
        });
    </script>
{% endblock %}

{% block body %}
    <div class="col-sm-12">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('user', { 'tag': 'Administration', 'term': 'All', 'date': 'All','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: red">Administration</a>
            <a href="{{ path('user', { 'tag': 'Ready for Review', 'term': 'All', 'date': 'All','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: DarkSlateGray">App Ready for Review</a>
            <a href="{{ path('user', { 'tag': 'Active', 'term': 'All', 'date': 'All','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: darkred">Active</a>
            <a href="{{ path('user', { 'tag': 'Alumni', 'term': 'All', 'date': 'All','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: Tomato">Alumni</a>
            <a href="{{ path('user', { 'tag': 'Inactive', 'term': 'All', 'date': 'All','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: black">Inactive</a>
            <a href="{{ path('user', { 'tag': 'all', 'term': 'All', 'date': 'All','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: blue">All</a>


{#            {% for tag in tags if tag.subs|length > 0 %}#}
{#                <a href="{{ path('user', { 'tag': tag.title, 'term': 'All', 'date': 'All','view':'index' }) }}"#}
{#                   id="{{ tag.id }}"#}
{#                   class="btn btn-primary btn-sm"#}
{#                   style="background-color: {{ tag.color }}">{{ tag.title }}</a>#}
{#                {% for tag in tag.subs %}#}
{#                    <a href="{{ path('user', { 'tag': tag.title, 'term': 'All', 'date': 'All','view':'index' }) }}"#}
{#                       id="{{ tag.id }}"#}
{#                       class="btn btn-primary btn-sm"#}
{#                       style="background-color: {{ tag.color }}">{{ tag.title }}</a>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#            {% for tag in tags if tag.top|length == 0 and tag.subs|length == 0 %}#}
{#                <a href="{{ path('user', { 'tag': tag.title, 'term': 'All', 'date': 'All','view':'index' }) }}"#}
{#                   id="{{ tag.id }}"#}
{#                   class="btn btn-primary btn-sm"#}
{#                   style="background-color: {{ tag.color }}">{{ tag.title }}</a>#}
{#            {% endfor %}#}
            <br/>
            Graduation Term:
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Fall', 'date': '2020','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2020 Fall</a>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Spring', 'date': '2021','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2021 Spring</a>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Fall', 'date': '2021','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2021 Fall</a>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Spring', 'date': '2022','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2022 Spring</a>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Fall', 'date': '2022','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2022 Fall</a>
            <a href="{{ path('user', { 'tag': 'term', 'term': 'Spring', 'date': '2023','view':'index' }) }}"
               class="btn btn-primary btn-sm"
               style="background-color: green">2023 Spring</a>

            <br/><br/>
        {% endif %}
        {% if entity is defined %}
            {% if is_granted('ROLE_ADMIN') %}
                Admin:
                {% if entity.checklist %}
                    <a class='btn btn-primary' href="{{ path('checklist_graduate', { 'id': entity.checklist.id }) }}">
                        Graduate
                    </a>
                {% endif %}
                <a class='btn btn-primary' href="{{ path('user_inactive', { 'id': entity.id }) }}">
                    Mark Inactive
                </a>
                {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                    <a class='btn btn-primary' href="{{ path('user_profile') }}?_switch_user={{ entity.username }}">Login
                        As</a>
                {% endif %}

            {% endif %}

            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('user_profile') }}?_switch_user=_exit">
                    Exit login as</a>
            {% endif %}
            {% if app.user.username == entity.username or is_granted('ROLE_SUPER_ADMIN') %}
                <ul class="nav nav-tabs margin-top">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile_toggle"
                           href="{{ path('user_show', { 'id': entity.id }) }}">Profile</a>
                    </li>
                    {% if ((app.user.username == entity.username and entity.program.status != 'Approved') or is_granted('ROLE_SUPER_ADMIN')) %}
                        <li class="nav-item">
                            <a class="nav-link " id="application_toggle"
                               href="{{ path('program_show', { 'id': entity.id }) }}">Application</a>
                        </li>
                    {% endif %}
                    {% if entity.checklist %}
                        <li class="nav-item">
                            <a class='nav-link' id="checklist_toggle"
                               href="{{ path('checklist_show', { 'id': entity.id }) }}">Checklist</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class='nav-link' id="checklist_toggle" href="{{ path('checklist_new') }}">
                                Checklist</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class='nav-link' id="capstone_toggle"
                           href="{{ path('capstone_show', { 'id': entity.id }) }}">Capstone</a>
                    </li>
                </ul>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}