{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $.tablesorter.themes.bootstrap = {
                table: 'table table-bordered table-striped',
                caption: 'caption',
                header: 'bootstrap-header',
                iconSortNone: 'bootstrap-icon-unsorted',
                iconSortAsc: 'glyphicon glyphicon-chevron-up',
                iconSortDesc: 'glyphicon glyphicon-chevron-down',
            };
            $("table").tablesorter({
                theme: "bootstrap",
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: ["uitheme", "filter", "zebra"],
                widgetOptions: {
                    zebra: ["even", "odd"],
                    filter_reset: ".reset",
                    filter_cssFilter: "form-control",
                },
                headers: {
                    5: {sorter: false, filter: false},
                }
            });
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-2">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            <li class="nav-item"><a href="{{ path('user', { 'type': 'students' }) }}">All Students</a></li>
                            {% for status in status %}
                                <li class="nav-item"><a
                                            href="{{ path('user', { 'type': status.id }) }}">{{ status.name }}</a></li>
                            {% endfor %}
                            <li class="nav-item"><a href="{{ path('user', { 'type': 'mentees' }) }}">Peer Mentees</a></li>
                            <li class="nav-item"><a href="{{ path('user', { 'type': 'peermentors' }) }}">Peer Mentors</a></li>
                            <li class="nav-item"><a href="{{ path('user_mentor_mapping') }}">Mentor
                                    Mapping</a></li>
                            <li class="nav-item"><a href="{{ path('user', { 'type': 'all' }) }}">All Accounts</a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">
            <h1>Mentors
            </h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Mentees</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.lastname }}, {{ entity.firstname }} ({{ entity.email }})</td>
                        <td>{% for mentee in entity.peermentees %}{{ mentee.firstname }} {{ mentee.lastname }} ({{ mentee.email }})
                            {% if not loop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
