{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $("#togglecol").click(function () {
                $(".col-sm-4").toggleClass("col-sm-12");
            });
            $("#workplan_toggle").click(function () {
                $("a").removeClass('active');
                $("#workplan_toggle").addClass('active');
                $("#workplan_div").show();
                $("#checkpoints_div").hide();
                $("#reviews_div").hide();

            });
            $("#checkpoints_toggle").click(function () {
                $("a").removeClass('active');
                $("#checkpoints_toggle").addClass('active');
                $("#workplan_div").hide();
                $("#checkpoints_div").show();
                $("#reviews_div").hide();
            });
            $("#reviews_toggle").click(function () {
                $("a").removeClass('active');
                $("#reviews_toggle").addClass('active');
                $("#workplan_div").hide();
                $("#checkpoints_div").hide();
                $("#reviews_div").show();
            });
            $("#checkpoints_div").hide();
            $("#reviews_div").hide();
            $(".hidden").hide();
            $(".card-title").click(function () {
                $(this).parent().next().toggle();
                $(this).next().toggle();
            });
            {% if entity.capstone %}
            {% if entity.capstone.status =="Approved" %}
            $("#workplan_table").hide();
            {% endif %}
            {% endif %}
        });
    </script>
{% endblock %}


{% block body -%}
    <div class="row">
        <div class="col-sm-2">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <ul class="nav navbar-sidenav">
                                    <a class="btn btn-secondary btn-sm" href="{{ path('user', {'type': 'all'}) }}">All Accounts</a>
                                    <br/><br/>
                                    <a class="btn btn-primary btn-sm" href="{{ path('user', {'type': 'students'}) }}">All Students</a>
                                    <br/>
                                    <br/>
                                    <a class="btn btn-secondary btn-sm" href="{{ path('user_mentor_mapping') }}">Mentor
                                        Mapping</a>
                                </ul>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-8 col-xs-12">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="btn-group float-sm-right" role="group" aria-label="Basic Functions">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="btn btn-primary" style="margin-left: 10px;"
                       href="{{ path('user_edit', { 'id': entity.id }) }}">
                        Admin Update
                    </a>
                    <a class="btn btn-primary"
                       href="{{ path('user_inactive', { 'id': entity.id }) }}">
                        Mark Inactive
                    </a>
                {% endif %}
                {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                    <a class="btn btn-primary" href="{{ path('user_profile') }}?_switch_user={{ entity.username }}">Login
                        As</a>
                {% endif %}
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a class="btn btn-primary" href="{{ path('user',  { 'type': 'students' }) }}?_switch_user=_exit">
                        Exit
                        login as</a>
                {% endif %}
                <a class="btn btn-primary"
                   href="{{ path('pdf',  { 'id': entity.id }) }}">
                    Create PDF
                </a>
            </div>
            {# Name and notes #}
            <h1 class="">{{ entity.firstname }} {{ entity.lastname }}</h1>
            {% if entity.progress %}
                <p>Certificate Progress: {{ entity.progress.name }}
                {% for tag in entity.tags %}
                    <div class="btn btn-primary btn-sm tag{{ tag.id }}"
                         style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                {% endfor %}
                </p>
            {% endif %}

            <div class="alert alert-info glow glow_active">Click headings to open or close.</div>
            <div id="accordion" role="tablist" aria-multiselectable="true">


                {# *********************** Notifications *********************** #}
                {# set variables for checkpoints #}
                {% set overdue = 0 %}
                {% set upcoming = 0 %}

                {# check to see if profile matches currrent user #}
                {% if app.user.username == entity.username  or is_granted('ROLE_ADMIN') %}
                    {% if entity.notifications %}
                        {% set count_notifications = notifications|length %}
                        {# count checkpoint deadlines #}
                        {% if entity.capstone %}
                            {% for checkpoint in entity.capstone.project.checkpoints %}
                                {% if checkpoint.deadline %}
                                    {% if "now"|date('Y-m-d') > checkpoint.deadline|date|date('Y-m-d')  and checkpoint.status!='Complete' %}
                                        {% set overdue = overdue + 1 %}
                                    {% endif %}
                                    {% if "now"|date('Y-m-d') <= checkpoint.deadline|date|date('Y-m-d')  and checkpoint.status!='Complete' %}
                                        {% set upcoming = upcoming + 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if overdue > 0 %}{% set count_notifications = count_notifications + 1 %}{% endif %}
                            {% if upcoming > 0 %}{% set count_notifications = count_notifications + 1 %}{% endif %}
                        {% endif %}


                        <div class="card">
                            <div class="card-header" role="tab" id="headingZero">

                                <h5 class="mb-0 inline">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseZero"
                                       aria-expanded="false" aria-controls="collapseZero">
                                        Notifications
                                    </a>
                                </h5>
                                {% if count_notifications > 0 %}
                                    <span>
                                    You have {{ count_notifications }}
                                        notification{% if count_notifications > 1 %}s{% endif %} for review.
                                    </span>
                                {% endif %}
                            </div>
                            <div id="collapseZero" class="collapse"
                                 role="tabpanel" aria-labelledby="headingZero">
                                <div class="card-block" style="padding: 0">
                                    {% for notification in notifications %}
                                        {% set background %}
                                            {% if notification.status=='New' %}alert-success
                                            {% elseif notification.status=='Shared' %}alert-success
                                            {% else %}#dbf8ff
                                            {% endif %}
                                        {% endset %}
                                        <div class="alert {{ background }} margin">
                                            <strong>{{ notification.date |date("m/d/Y g:ia") }}</strong>
                                            <br/>
                                            {% if notification.post %}
                                                {{ notification.post.body|raw }}
                                            {% endif %}
                                            {{ notification.body|raw }}
                                            {% if notification.status!='Shared' %}
                                                <a class="btn btn-primary  "
                                                   href="{{ path('notification_dismiss',  { 'id': notification.id }) }}">
                                                    Dismiss
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}

                                    {# notifications for checkpoints #}
                                    {% if upcoming > 0 %}
                                        <div class="alert alert-info margin">You have {{ upcoming }} upcoming
                                            Capstone Checkpoints
                                        </div>
                                    {% endif %}
                                    {% if overdue > 0 %}
                                        <div class="alert alert-danger margin">You have {{ overdue }} overdue
                                            Capstone Checkpoints
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}



                {#  *********************** Director Notes ***********************  #}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                                   aria-expanded="true"
                                   aria-controls="collapseFive">
                                    Director Notes
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="card-block">

                                <p>{{ entity.notes |raw }}
                                    {% if entity.notes|length < 1 %}No notes yet.{% endif %}
                                </p>
                                <p>Updated: {{ entity.notesChanged|date("m/d/Y g:ia") }}</p>
                                <p>Last login: {{ entity.lastLogin|date("m/d/Y g:ia") }}</p>

                            </div>
                        </div>
                    </div>
                {% endif %}



                {#  *********************** Mentoring ***********************  #}
                {# check to see if profile matches currrent user and is not Faculty #}
                {% if (app.user.username == entity.username and entity.progress.name!='Faculty') or is_granted('ROLE_SUPER_ADMIN') %}
                    {#  *** Check for application****  #}
                    {% if entity.program %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true"
                                       aria-controls="collapseOne">
                                        Peer Mentoring
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-block">
                                    <p>
                                        <strong>
                                            {% if entity.peermentor %}
                                                <span class="alert alert-info">
                                                    Your mentor is {{ entity.peermentor.firstname }} {{ entity.peermentor.lastname }} ({{ entity.peermentor.email }})
                                                </span>
                                            {% endif %}
                                            {% if entity.peermentees|length > 0 %}
                                                <span class="alert alert-info">Thanks for serving as a certificate mentor.
                                                    Your mentee{% if entity.peermentees|length > 1 %}s are{% else %} is {% endif %}
                                                    {% for mentee in entity.peermentees %}
                                                        {% if loop.last %}and{% endif %}
                                                        {{ mentee.firstname }} {{ mentee.lastname }} ({{ mentee.email }})
                                                        {% endfor %}
                                                </span>
                                            {% endif %}
                                        </strong>
                                    </p>
                                    Requirements for Mentees/Mentors are as follows:
                                    <ul>
                                        <li>Mentees and Mentors must attend orientation</li>
                                        <li>Mentees and Mentors must have at least one face-to-face meeting</li>
                                        <li>Mentees and Mentors should celebrate the end of the term together at Semester in Review
                                        </li>
                                    </ul>
                                    Requirements for application to be a Mentor:
                                    <ul>
                                        <li>Can only apply if they are a sophomore or higher and have participated in at
                                            least
                                            one Sustainability Seminar
                                        </li>
                                        <li>All students must learn to smell the roses and appreciate the sunshine</li>
                                    </ul>
                                    <p>Read more about out mentoring program <a
                                                href="{{ path('page_show',  { 'id': '42' }) }}">here</a>.</p>

                                        {% for tag in entity.tags if tag.title == 'Mentoring' %}
                                        {% else %}
                                                <a class="btn btn-primary margin-left"
                                                   href="{{ path('user_mentee',  { 'id': entity.id }) }}">
                                                    I'd like to have a Mentor.
                                                </a>
                                                <a class="btn btn-primary margin-left"
                                                   href="{{ path('user_mentor',  { 'id': entity.id }) }}">
                                                    I'd like to be a Mentor.
                                                </a>
                                        {% endfor %}

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {# check to see if profile matches currrent user and is not Faculty #}
                {% if (app.user.username == entity.username and entity.progress.name!='Faculty') or is_granted('ROLE_SUPER_ADMIN') %}
                    {#  *********************** Applcation ***********************  #}
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                   aria-expanded="false" aria-controls="collapseTwo">
                                    Application {% if entity.program %}({{ entity.program.status }}){% endif %}
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo"
                             class="collapse {% if entity.program %}{% if entity.program.status != 'Approved' %}in{% endif %}{% endif %}"
                             role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">
                                <div class="btn-group margin-bottom" role="group"
                                     aria-label="Capstone Progress Buttons">
                                    {% if entity.program %}
                                        {% if is_granted('ROLE_SUPER_ADMIN') and entity.program.status == 'Ready for Review' %}
                                            <a title="Approve this application" class="btn btn-primary  align-right"
                                               href="{{ path('program_approve',  { 'id': entity.program.id }) }}">
                                                Approve App
                                            </a>
                                        {% endif %}
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <a class="btn btn-primary  align-right "
                                               href="{{ path('program_edit',  { 'id': entity.program.id }) }}">
                                                Admin Update
                                            </a>
                                        {% endif %}
                                        {% if app.user.username == entity.username and entity.program.status == 'Created' %}
                                            <a class="btn btn-primary  align-right "
                                               href="{{ path('program_edit',  { 'id': entity.program.id }) }}">
                                                Update Application
                                            </a>
                                            <a title="Application Ready for Review"
                                               class="btn btn-primary  align-right  "
                                               href="{{ path('program_ready',  { 'id': entity.program.id }) }}">
                                                Ready for Review
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a title="Get started on your application"
                                           class="btn btn-primary  align-right  "
                                           href="{{ path('program_new') }}">
                                            Get Started
                                        </a>
                                    {% endif %}
                                </div>

                                <div class="alert alert-info" role="alert">
                                    <p>Please fill out the Application form completely. You may return to edit it at any
                                        time.</p>
                                    <p>When you have completed the application, click <strong>Ready for Review.</strong>
                                        You will be notified by the Director when your application is approved.</p>
                                </div>

                                {% if entity.program %}
                                    <table class="table margin-top">
                                        <tbody>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{ entity.email }}</td>
                                        </tr>
                                        <tr>
                                            <th>School :: Program</th>
                                            <td>
                                                {% if entity.program.school1 %}{{ entity.program.school1.name }}{% else %}{{ entity.program.school }}{% endif %}
                                                {% if entity.program.major1 %}:: {{ entity.program.major1.name }}{% else %}{{ entity.program.program }}{% endif %}
                                                {% if entity.program.school2 %}{{ entity.program.school2.name }}{% endif %}
                                                {% if entity.program.major2 %}:: {{ entity.program.major2.name }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Uga Id</th>
                                            <td>{{ entity.program.ugaid }}</td>
                                        </tr>
                                        <tr>
                                            <th>Level</th>
                                            <td>{{ entity.program.level }}</td>
                                        </tr>
                                        <tr>
                                            <th>Previous Degree(s)</th>
                                            <td>{{ entity.program.degree }}</td>
                                        </tr>
                                        <tr>
                                            <th>Previous Institution(s)</th>
                                            <td>{{ entity.program.institution }}</td>
                                        </tr>
                                        <tr>
                                            <th>Expected Graduation</th>
                                            <td>{{ entity.program.graddate }} {{ entity.program.gradterm }}</td>
                                        </tr>
                                        <tr>
                                            <th>Address</th>
                                            <td>{{ entity.program.address }}</td>
                                        </tr>
                                        <tr>
                                            <th>City State Zip</th>
                                            <td>{{ entity.program.cityst }}</td>
                                        </tr>
                                        <tr>
                                            <th>Country</th>
                                            <td>{{ entity.program.country }}</td>
                                        </tr>
                                        <tr>
                                            <th>Phone</th>
                                            <td>{{ entity.program.phone }}</td>
                                        </tr>
                                        <tr>
                                            <th>Areas of Interest</th>
                                            <td>{% for area in entity.program.area %}{{ area }} {% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <th>Interest in Sustainability</th>
                                            <td>{{ entity.program.interest | raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Experience</th>
                                            <td>{{ entity.program.experience | raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Goals</th>
                                            <td>{{ entity.program.goals | raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Application Status</th>
                                            <td>{{ entity.program.status }}</td>
                                        </tr>
                                        <tr>
                                            <th>Updated</th>
                                            <td>{{ entity.program.updated |date("m/d/Y g:ia") }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {#  *********************** Certificate Checklist ***********************  #}
                    {#  *** Check for application****  #}
                    {% if entity.program %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree"
                                       aria-expanded="false" aria-controls="collapseThree">
                                        Checklist
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree"
                                 class="collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="card-block">
                                    {% if app.user.username == entity.username %}
                                        {% if entity.checklist %}
                                            <a class="btn btn-primary align-right margin-bottom"
                                               href="{{ path('checklist_edit',  { 'id': entity.checklist.id }) }}">
                                                Update Checklist
                                            </a>
                                        {% else %}
                                            <a title="Get started on your checklist"
                                               class="btn btn-primary margin-bottom {% if not entity.program or entity.program.status != 'Approved' %}disabled{% endif %}"
                                               href="{{ path('checklist_new') }}">
                                                Start your Checklist
                                            </a>
                                        {% endif %}
                                    {% endif %}

                                    <div class="alert alert-info" role="alert">
                                        <p>The checklist allows you to track your progress through the program. Please
                                            update
                                            regularly.
                                        </p>
                                        <p> For details, please
                                            <a href="{{ path('page_show',  { 'id': '12'}) }}">
                                                review the
                                                <strong>Guidelines for the Certificate.</strong>
                                            </a></p>
                                    </div>

                                    {% if entity.checklist %}
                                        <table class="table margin-top">
                                            <tbody>
                                            <tr>
                                                <th>Certificate added in Athena</th>
                                                <td>{% if entity.checklist.athena %}{{ entity.checklist.athena|date('m/d/Y') }}
                                                    {% else %}<p>All students should add the Sustainability Certificate
                                                        to
                                                        their active curricula program via the MyPrograms option in
                                                        Athena.</p><a
                                                            href="https://sis-ssb-prod.uga.edu/PROD/twbkwbis.P_GenMenu?name=homepage"
                                                            target="_blank">Add Certificate in Athena Now</a>{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Pre-Certificate Survey Completed</th>
                                                <td>{% if entity.checklist.preAssess %}{{ entity.checklist.preAssess|date('m/d/Y') }}
                                                    {% else %}<p>This survey is part of our assessment of the
                                                        certificate.
                                                        Please complete it at the beginning of your program. </p><a
                                                            href="https://ugeorgia.qualtrics.com/SE/?SID=SV_eQWZLWcQhfLEb0V"
                                                            target="_blank">Take the Survey Now</a>{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th>Orientation Completed</th>
                                                <td>{% if entity.checklist.orientation %}{{ entity.checklist.orientation|date('m/d/Y') }}{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th>Anchor</th>
                                                <td>{% if entity.checklist.anchor %}
                                                        <a href="{{ path('course_show', { 'id': entity.checklist.anchor.id }) }}">
                                                            {{ entity.checklist.anchor.name }}
                                                            : {{ entity.checklist.anchor.title }}
                                                        </a>
                                                        {% if entity.checklist.anchor.status=='exception' %}
                                                            <div class="alert alert-warning" role="alert">
                                                                <strong>Note!</strong> This course has special
                                                                requirements.
                                                                Please note
                                                                how
                                                                these requirements
                                                                were met in the exception space below.
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="alert alert-warning" role="alert">
                                                        <p>
                                                            <strong>
                                                                NB: We require that at least one of the spheres come
                                                                from
                                                                courses outside you major and highly recommended that
                                                                two of
                                                                the three spheres come from courses outside of your
                                                                major to
                                                                develop the broadest perspective on sustainability.
                                                            </strong>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Ecological Sphere</th>
                                                <td>{% if entity.checklist.sphere1 %}
                                                        <a href="{{ path('course_show', { 'id': entity.checklist.sphere1.id }) }}">
                                                            {{ entity.checklist.sphere1.name }}
                                                            : {{ entity.checklist.sphere1.title }}
                                                        </a>
                                                        {% if entity.checklist.sphere1.status=='exception' %}
                                                            <div class="alert alert-warning" role="alert">
                                                                <strong>Note!</strong> This course has special
                                                                requirements.
                                                                Please note
                                                                how
                                                                these requirements
                                                                were met in the exception space below.
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Economic Sphere</th>
                                                <td>{% if entity.checklist.sphere2 %}
                                                        <a href="{{ path('course_show', { 'id': entity.checklist.sphere2.id }) }}">
                                                            {{ entity.checklist.sphere2.name }}
                                                            : {{ entity.checklist.sphere2.title }}
                                                        </a>
                                                        {% if entity.checklist.sphere2.status=='exception' %}
                                                            <div class="alert alert-warning" role="alert">
                                                                <strong>Note!</strong> This course has special
                                                                requirements.
                                                                Please note
                                                                how
                                                                these requirements
                                                                were met in the exception space below.
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Social Sphere</th>
                                                <td>{% if entity.checklist.sphere3 %}
                                                        <a href="{{ path('course_show', { 'id': entity.checklist.sphere3.id }) }}">
                                                            {{ entity.checklist.sphere3.name }}
                                                            : {{ entity.checklist.sphere3.title }}
                                                        </a>
                                                        {% if entity.checklist.sphere3.status=='exception' %}
                                                            <div class="alert alert-warning" role="alert">
                                                                <strong>Note!</strong> This course has special
                                                                requirements.
                                                                Please note
                                                                how
                                                                these requirements
                                                                were met in the exception space below.
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Seminar (2 semesters required)</th>
                                                <td>{% if entity.checklist.seminar %}
                                                        <a href="{{ path('course_show', { 'id': entity.checklist.seminar.id }) }}">
                                                            {{ entity.checklist.seminar.name }}
                                                            : {{ entity.checklist.seminar.title }}
                                                        </a>
                                                        {% if entity.checklist.sphere3.status=='exception' %}
                                                            <div class="alert alert-warning" role="alert">
                                                                <strong>Note!</strong> This course has special
                                                                requirements.
                                                                Please note
                                                                how
                                                                these requirements
                                                                were met in the exception space below.
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Capstone Work Plan</th>
                                                <td>{% if entity.checklist.capstone %}
                                                        <a href="{{ path('course_show', { 'id': entity.checklist.capstone.id }) }}">
                                                            {{ entity.checklist.capstone.name }}
                                                            : {{ entity.checklist.capstone.title }}
                                                        </a>
                                                    {% endif %}
                                                    {% if entity.capstone %}
                                                        {{ entity.capstone.status }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Capstone Term</th>
                                                <td>{{ entity.checklist.capstonedate }} {{ entity.checklist.capstoneterm }}</td>
                                            </tr>
                                            <tr>
                                                <th>Presentation</th>
                                                <td>{{ entity.checklist.presentation }}</td>
                                            </tr>
                                            <tr>
                                                <th>Post-Certificate Survey Completed</th>
                                                <td>{% if entity.checklist.postAssess %}{{ entity.checklist.postAssess|date('m/d/Y') }}
                                                    {% else %}<p>This survey is part of our assessment of the
                                                        certificate.
                                                        Please complete it at the end of your program.</p>  <a
                                                            href="https://ugeorgia.qualtrics.com/SE/?SID=SV_8vvElrQSuli7Pg1"
                                                            target="_blank">Take the Survey Now</a>{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <th>Apply for Graduation in Athena</th>
                                                <td><p>Once you have met all requirements, please remember to apply to
                                                        graduate with the Sustainability Certificate in Athena for the
                                                        semester you will graduate from UGA. <a
                                                                href="https://sis-ssb-prod.uga.edu/PROD/twbkwbis.P_GenMenu?name=homepage"
                                                                target="_blank">Apply for graduation Now</a></p></td>
                                            </tr>
                                            <tr>
                                                <th>Graduation Term</th>
                                                <td>{{ entity.checklist.graddate }} {{ entity.checklist.gradterm }}</td>
                                            </tr>
                                            <tr>
                                                <th>Exceptions</th>
                                                <td>{{ entity.checklist.exceptions | raw }}</td>
                                            </tr>
                                            <tr>
                                                <th>Updated</th>
                                                <td>{{ entity.checklist.updated | date("m/d/Y g:ia") }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {#  *********************** Capstone Workplan *********************** #}
                {#  *** Check for application****  #}
                {% if entity.program %}
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="mb-0 inline">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFour"
                                   aria-expanded="false" aria-controls="collapseFour">
                                    Capstone {% if entity.capstone %}({{ entity.capstone.status }}){% endif %}
                                </a>
                            </h5>

                            {% if entity.capstone %}
                                {% for tag in entity.capstone.tags %}
                                    <div class="btn btn-primary btn-sm tag{{ tag.id }}"
                                         style="background-color: {{ tag.color }}">{{ tag.title }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div id="collapseFour"
                             class="collapse" role="tabpanel" aria-labelledby="headingFour">
                            <ul class="nav nav-tabs margin-top">
                                <li class="nav-item">
                                    <a class="nav-link active" id="workplan_toggle" href="javascript:void(0);">Work
                                        Plan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="reviews_toggle" href="javascript:void(0);">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="checkpoints_toggle"
                                       href="javascript:void(0);">Checkpoints</a>
                                </li>
                            </ul>
                            <div class="card-block">
                                <div class="toggle" id="workplan_div">
                                    {# Update the work plan (always available) #}
                                    {% if entity.capstone %}
                                        {% if app.user.username == entity.username %}
                                            <a title="Update your capstone" class="float-sm-right btn btn-primary"
                                               href="{{ path('capstone_edit',  { 'id': entity.capstone.id }) }}">
                                                Update Work Plan
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                    <h4>Work Plan</h4>
                                    {#  *********************** Capstone Instructions  *********************** #}
                                    <div class="alert alert-info margin-top" role="alert">
                                        {% if app.user.username != entity.program.user.username %}
                                            <p><strong>Reviewers:</strong> Thanks for offering reviews of this work
                                                plan.
                                                Click
                                                the <strong>Reviews</strong> tab to get started.</p>
                                            <p><strong>Mentors:</strong> Thanks for mentoring this capstone. Click the
                                                <strong>Reviews</strong> tab to offer a Review of this work plan and
                                                the <strong>Checkpoints</strong> tab to review the progress of the
                                                capstone.
                                            </p>
                                        {% elseif not entity.capstone %}
                                            <p>The capstone project provides an opportunity to apply classroom
                                                learning to hands-on sustainability challenges.
                                            </p>

                                            <p>Under the advisement of your capstone mentor, develop a work plan for the
                                                capstone project, outlining goals, objectives, timeline,
                                                resources/partners, personal objectives, and success metrics.</p>
                                            <p>Before you get started, please review the <a
                                                        href="{{ path('page_show',  { 'id': '17'}) }}">
                                                    Guidelines for the Capstone.
                                                </a></p>
                                        {% elseif entity.capstone.status == 'Created' %}
                                            <p>You may update your work plan at any time by clicking <strong>Update Work
                                                    Plan</strong> above.</p>
                                            <p>Once your work plan is complete, mark it <strong>Ready for
                                                    Review.</strong>
                                            </p>

                                        {% elseif entity.capstone.status == 'Ready for Peer Review' %}
                                            <p>Your work plan must receive at least two peer reviews by fellow capstone
                                                students.
                                                (You are also be required to provide two peer reviews.) Click the
                                                <strong>Reviews</strong>
                                                tab to get started.</p>
                                            <p>When you feel your work plan is complete, mark it <strong>Ready for
                                                    Director</strong>.</p>

                                        {% elseif entity.capstone.status == 'Ready for Director Review' %}
                                            <p>You will be notified by the director when your work plan is approved.</p>
                                        {% else %}
                                            <p>Your work plan has been approved. When you have completed your capstone,
                                                please
                                                click the <strong>Completed</strong> button.</p>
                                        {% endif %}
                                    </div>
                                    {#  *********************** Capstone Progress buttons  *********************** #}
                                    <div class="btn-group margin-bottom" role="group"
                                         aria-label="Capstone Progress Buttons">
                                        {% if entity.program %}
                                            {% if app.user.username==entity.program.user.username %}
                                                <a title="Get started on your work plan"
                                                   class="btn btn-primary {% if not entity.checklist or entity.capstone %}disabled{% endif %}"
                                                   href="{{ path('capstone_new') }}">
                                                    1. Get Started
                                                </a>
                                                {% if entity.capstone %}
                                                    {# Mark Ready for Peer or Director Review #}
                                                    <a class="btn btn-primary {% if entity.capstone.status == 'Ready for Director Review' or entity.capstone.status == 'Approved'
                                                    or entity.capstone.status == 'Ready for Peer Review' or entity.capstone.status == 'Completed' %}disabled{% endif %}"
                                                       href="{{ path('capstone_ready',  { 'id': entity.capstone.id , 'type':'Peer'}) }}">
                                                        2. Ready for Review
                                                    </a>

                                                    <a class="btn btn-primary {% if entity.capstone.responsesets|length < 2 or entity.capstone.status == 'Ready for Director Review' or entity.capstone.status == 'Approved'
                                                    or entity.capstone.status == 'Completed' %}disabled{% endif %}"
                                                       href="{{ path('capstone_ready',  { 'id': entity.capstone.id, 'type':'Director' }) }}">
                                                        3. Ready for Director
                                                    </a>
                                                    <a class="btn btn-primary align-right {% if entity.capstone.status != 'Approved' %}disabled{% endif %}"
                                                       href="{{ path('capstone_ready',  { 'id': entity.capstone.id, 'type':'Completed' }) }}">
                                                        4. Completed
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% if entity.capstone %}

                                    {# Director workplan approval #}
                                    {% if is_granted('ROLE_SUPER_ADMIN') and entity.capstone.status != 'Approved' %}
                                        <a title="Approve this capstone"
                                           class="float-sm-right btn btn-primary {% if entity.capstone.status != 'Approved' %}{% else %}disabled{% endif %}"
                                           href="{{ path('capstone_approve',  { 'id': entity.capstone.id }) }}">
                                            Approve Work Plan
                                        </a>
                                    {% endif %}

                                    <table class="table margin-top">
                                        <tbody>
                                        <tr>
                                            <th>Title</th>
                                            <td>{{ entity.capstone.title }}</td>
                                        </tr>
                                        <tr>
                                            <th>Type of Project</th>
                                            <td>{{ entity.capstone.type }}</td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td>{{ entity.capstone.description|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Mentor</th>
                                            <td>{% if entity.capstone.capstoneMentor %}{{ entity.capstone.capstoneMentor.name }} {{ entity.capstone.capstoneMentor.email }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Mentor Involvement</th>
                                            <td>{{ entity.capstone.mentorExpectations|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Group</th>
                                            <td>{{ entity.capstone.groupProject }}</td>
                                        </tr>
                                        <tr>
                                            <th>Group Members/Your Role</th>
                                            <td>{{ entity.capstone.groupMembers|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Resources/Partners</th>
                                            <td>{{ entity.capstone.partners|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Goals and Objectives</th>
                                            <td>{{ entity.capstone.objectives|raw }}</td>
                                        </tr>

                                        <tr>
                                            <th>Personal Objectives</th>
                                            <td>{{ entity.capstone.personalObjectives|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Success Metrics</th>
                                            <td>{{ entity.capstone.successMetrics|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Application</th>
                                            <td>{{ entity.capstone.application|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Expected Completion Date</th>
                                            <td>{{ entity.capstone.timeframe }}</td>
                                        </tr>
                                        <tr>
                                            <th>After Completion</th>
                                            <td>{{ entity.capstone.completion|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Repeatable/Extendable</th>
                                            <td>{{ entity.capstone.repeatable }}</td>
                                        </tr>
                                        <tr>
                                            <th>Repeatable/Extendable Information</th>
                                            <td>{{ entity.capstone.repeatinfo|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Status</th>
                                            <td>{{ entity.capstone.status }}<a name="reviews"></a></td>
                                        </tr>
                                        <tr>
                                            <th>Last Updated</th>
                                            <td>{{ entity.capstone.updated |date("m/d/Y g:ia") }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="toggle" id="reviews_div">
                                    <h4>Reviews</h4>

                                    <div class="alert alert-info margin-top" role="alert">
                                        <p>You currently have {{ entity.capstone.responsesets|length }} reviews.
                                            Once you have received feedback from your peers, revise and polish your work
                                            plan.</p>

                                        {% if entity.responsesets|length > 0  and app.user.username==entity.capstone.user.username %}
                                            <p>You have offered peer reviews for:
                                                {% for responseset in entity.responsesets %}
                                                    <a href="{{ path('responseset_show',  { 'id': responseset.id }) }}">
                                                        {{ responseset.capstone.user.firstname }} {{ responseset.capstone.user.lastname }}{% if not loop.last %}, {% endif %}
                                                    </a>
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                        {# Review this workplan #}
                                        {% if entity.capstone.status == 'Ready for Peer Review' and entity.username != app.user.username %}
                                            <a class="btn btn-primary"
                                               href="{{ path('responseset_new',  { 'id': entity.capstone.id,'questionsetid': '1'  }) }}">
                                                Review this work plan
                                            </a>
                                        {% endif %}
                                        {# Link to list work plans ready for review #}
                                        <a class="btn btn-primary {% if entity.capstone.status == 'Capstone Created'  or entity.capstone.status == 'Completed' %}disabled{% endif %}"
                                           href="{{ path('capstone',  { 'type':'Peer' }) }}">
                                            Review other work plans
                                        </a>
                                        {# Director workplan review #}
                                        {% if is_granted('ROLE_ADMIN') and entity.username != app.user.username %}
                                            <a class="btn btn-primary"
                                               href="{{ path('responseset_new',  { 'id': entity.capstone.id,'questionsetid': '2'  }) }}">
                                                Director work plan review
                                            </a>
                                        {% endif %}
                                    </div>

                                    {% if entity.capstone.responsesets %}
                                        <div id="reviews">
                                            {% for responseset in entity.capstone.responsesets %}
                                                {% if app.user.username==responseset.user.username %}
                                                    <a class="btn btn-primary float-sm-right"
                                                       href="{{ path('responseset_edit', { 'id': responseset.id }) }}">Edit</a>
                                                {% endif %}
                                                <h5>
                                                    Review
                                                    by {{ responseset.user.firstname }} {{ responseset.user.lastname }}
                                                </h5>
                                                {% for response in responseset.responses %}
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h3 class="card-title">{{ response.question.question |raw }}</h3>
                                                        </div>
                                                        <div class="card-block">
                                                            {{ response.response|raw }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                {#  *********************** Capstone Checkpoints  *********************** #}
                                <div class="toggle" id="checkpoints_div">
                                    {% if entity.capstone %}
                                    {% if app.user.username == entity.username %}
                                        <a href="{{ path('checkpoint_new', { 'id': entity.capstone.project.id }) }}"
                                           class="float-sm-right btn btn-primary">
                                            Add Checkpoint
                                        </a>
                                    {% endif %}

                                    <h4>Checkpoints</h4>

                                    <div class="alert alert-info margin-top" role="alert">
                                        <p>Checkpoints display the timeline and goals for your project and help you,
                                            your
                                            mentor, and the
                                            certificate director monitor your progress.
                                        </p>
                                        <p>
                                            Please fill in the the checkpoints created for you with the details of your
                                            project,
                                            including deadlines
                                            for each checkpoint. You are welcome to add more checkpoints if you find
                                            them
                                            helpful.
                                        </p>
                                        <p>When your mentor and the director have reviewed the checkpoint, mark it
                                            <strong>Complete</strong>.
                                        </p>
                                    </div>


                                    {% for checkpoint in entity.capstone.project.checkpoints %}
                                        {% set background %}
                                            {% if checkpoint.status=='Complete' %}#dff0d8
                                            {% else %}#F7F7E3
                                            {% endif %}
                                        {% endset %}
                                        <div class="card margin-top checkpoints_card">
                                            <div class="card-header" style="background-color: {{ background }} ">
                                                {% if app.user.username == entity.capstone.user.username %}
                                                    {% if checkpoint.status!='Complete' %}
                                                        <a href="{{ path('checkpoint_complete', { 'id': checkpoint.id }) }}"
                                                           class="float-sm-right btn btn-primary">Complete</a>
                                                    {% endif %}
                                                    <a href="{{ path('checkpoint_edit', { 'id': checkpoint.id }) }}"
                                                       class="float-sm-right btn btn-primary">Edit</a>
                                                {% endif %}

                                                <h4 class="card-title">
                                                    <a href="javascript:void(0)" title="click to toggle">
                                                        {{ checkpoint.name }}
                                                    </a>
                                                    {% if checkpoint.status=='Complete' %}
                                                        <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                                    {% endif %}
                                                </h4>

                                                <p class="{% if checkpoint.status=='Complete' %}hidden{% endif %}">
                                                    {% if checkpoint.deadline %}
                                                        {% if "now"|date('Y-m-d') > checkpoint.deadline|date|date('Y-m-d') %}
                                                            {% set alert %}alert-danger{% endset %}
                                                        {% else %}
                                                            {% set alert %}alert-success{% endset %}
                                                        {% endif %}
                                                        <span class="alert {{ alert }}">Deadline: {{ checkpoint.deadline|date('m-d-Y h:i A') }}</span>
                                                    {% endif %}
                                                    {% if checkpoint.lead != '' %}
                                                        <span class="alert alert-info">Lead: {{ checkpoint.lead }}</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="card-block {% if checkpoint.status=='Complete' %}hidden{% endif %}">
                                                {{ checkpoint.description |raw }}
                                                <div class="alert alert-success">
                                                    Reviewers:
                                                    {# self review#}
                                                    {% if app.user.username == entity.username %}
                                                        <a href="{{ path('review_new', { 'checkpointid': checkpoint.id, 'reviewerid': entity.id }) }}"
                                                           class="">{{ entity.firstname }} {{ entity.lastname }}
                                                            (progress
                                                            update),</a>
                                                    {% else %}{{ entity.firstname }} {{ entity.lastname }},
                                                    {% endif %}
                                                    {# mentor and director review#}
                                                    {% if checkpoint.project.capstone.capstoneMentor %}
                                                        {% if app.user.username == checkpoint.project.capstone.capstoneMentor.username %}
                                                            <a href="{{ path('review_new', { 'checkpointid': checkpoint.id, 'reviewerid': checkpoint.project.capstone.capstoneMentor.id }) }}"
                                                               class="">{{ checkpoint.project.capstone.capstoneMentor.name }} </a>
                                                        {% else %}{{ checkpoint.project.capstone.capstoneMentor.name }},
                                                        {% endif %}
                                                    {% endif %}
                                                    {# other selected reviewer#}
                                                    {% for reviewer in checkpoint.reviewers %}
                                                        {% if app.user.username == reviewer.username %}
                                                            <a
                                                            href="{{ path('review_new', { 'checkpointid': checkpoint.id, 'reviewerid': reviewer.id }) }}"
                                                            class="">{{ reviewer.firstname }} {{ reviewer.lastname }}</a>{% else %}{{ reviewer.firstname }} {{ reviewer.lastname }}{% endif %}{% if not loop.last %},{% endif %}
                                                    {% endfor %}
                                                </div>
                                                {% for review in checkpoint.reviews %}
                                                    {% set review_background %}
                                                        {% if review.status=='Complete' %}#dff0d8
                                                        {% else %}#ffffe6
                                                        {% endif %}
                                                    {% endset %}
                                                    <div class="card">
                                                        <div class="card-header"
                                                             style="background-color: {{ review_background }}">
                                                            Review by {{ review.reviewer.name }}
                                                            <span class="btn btn-secondary">Recommended Status: {{ review.status }}</span>
                                                            {% if review.status=='Complete' %}
                                                                <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                                                            {% endif %}
                                                            {% if app.user.username == review.reviewer.username %}
                                                                <a href="{{ path('review_edit', { 'id': review.id }) }}"
                                                                   class="float-sm-right btn btn-primary">Edit</a>
                                                            {% endif %}
                                                        </div>
                                                        <div class="card-block">
                                                            <p>{{ review.body | raw }}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>


            {#  *********************** Portfolio  ***********************  #}
            {% if entity.checklist %}
                <div class="card">
                    <div class="card-header" role="tab" id="headingSeven">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"
                               aria-expanded="true"
                               aria-controls="collapseSeven">
                                Portfolio
                            </a>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="card-block">

                            <div class="alert alert-info margin-top" role="alert">
                                <p>For more information about your portfolio, see our <a
                                            href="{{ path('page_show',  { 'id': '16'}) }}">
                                        Porfolio Guidelines.
                                    </a>
                                </p>
                            </div>
                            <a href="{{ entity.checklist.portfolio }}"
                               target="_blank">{{ entity.checklist.portfolio }}</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {#  *********************** Capstones For Review *********************** #}
            {# check to see if user is Faculty and has capstone mentees #}
            {% if entity.progress.name=='Faculty' or is_granted('ROLE_SUPER_ADMIN') %}
                <div class="card">
                    <div class="card-header" role="tab" id="headingSix">
                        <h5 class="mb-0 inline">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSix"
                               aria-expanded="false" aria-controls="collapseSix">
                                Capstones for your Review
                            </a>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="card-block">
                            {% if mentees is defined %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name (Email)</th>
                                        <th>School: Program</th>
                                        <th>Capstone Term</th>
                                        <th>Graduation Term</th>
                                        <th>Progress</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for entity in mentees %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.lastname }}
                                                    , {{ entity.firstname }}</a> ({{ entity.email }})
                                            </td>
                                            <td>
                                                {% if entity.program %}
                                                    {% if entity.program.school1 %}{{ entity.program.school1.name }}{% else %}{{ entity.program.school }}{% endif %}
                                                    {% if entity.program.major1 %}:: {{ entity.program.major1.name }}{% else %}{{ entity.program.program }}{% endif %}
                                                    {% if entity.program.school2 %}{{ entity.program.school2.name }}{% endif %}
                                                    {% if entity.program.major2 %}:: {{ entity.program.major2.name }}{% endif %}
                                                {% endif %}


                                            </td>
                                            <td>
                                                {% if entity.checklist %}
                                                    {{ entity.checklist.capstonedate }} {{ entity.checklist.capstoneterm }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if entity.program %}
                                                    <a href="{{ path('user_graddate', { 'term': entity.program.gradterm, 'date': entity.program.graddate, }) }}">{{ entity.program.graddate }} {{ entity.program.gradterm }}</a>
                                                {% endif %}
                                            </td>
                                            <td>{% if entity.progress %}
                                                    <a href="{{ path('user', { 'type': entity.progress.id }) }}">{{ entity.progress.name }}</a>
                                                {% else %}
                                                    Account Created
                                                {% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>You have no capstones for review at this time.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}