{% extends 'AppBundle:User:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $(".profile").hide();
            $("#notifications").show();
            $("#notifications_toggle").click(function () {
                $(".profile").hide();
                $("#notifications").show();
            });
            $("#mentoring_toggle").click(function () {
                $(".profile").hide();
                $("#mentoring").show();
            });
            $("#directornotes_toggle").click(function () {
                $(".profile").hide();
                $("#directornotes").show();
            });
            $("#portfolio_toggle").click(function () {
                $(".profile").hide();
                $("#portfolio").show();
            });
        });
    </script>
{% endblock %}


{% block body -%}
    <div class="col-sm-8 col-xs-12">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        {# Name and notes #}
        <h2>Profile for {{ entity.firstname }} {{ entity.lastname }}</h2>
        {% if app.user.username == entity.username and entity.progress.name!='Faculty' %}
            <a class='btn btn-primary' href="{{ path('checklist_show', { 'id': entity.id }) }}">Work on your
                Checklist</a>
            <a class='btn btn-primary' href="{{ path('capstone_show', { 'id': entity.id }) }}">Work on your Capstone</a>
        {% endif %}
        {% if entity.progress %}
            <p class="margin-top">Certificate Progress: {{ entity.progress.name }}
            {% for tag in entity.tags %}
                <div class="btn btn-primary btn-sm tag{{ tag.id }}"
                     style="background-color: {{ tag.color }}">{{ tag.title }}</div>
            {% endfor %}
            </p>
        {% endif %}

        {% if (app.user.username == entity.username and entity.progress.name!='Faculty')  or is_granted('ROLE_SUPER_ADMIN') %}
            <ul class="nav nav-tabs margin-top margin-bottom">
                <li class="nav-item"><a class="nav-link" id="notifications_toggle"
                                        href="javascript:void(0);">Notifications</a></li>
                <li class="nav-item"><a class="nav-link" id="mentoring_toggle" href="javascript:void(0);">Mentoring</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="portfolio_toggle" href="javascript:void(0);">Portfolio</a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item"><a class="nav-link" id="directornotes_toggle" href="javascript:void(0);">Director
                            Notes</a></li>
                {% endif %}
            </ul>
        {% endif %}

        {# *********************** Notifications *********************** #}
        {# set variables for checkpoints #}
        {% set overdue = 0 %}
        {% set upcoming = 0 %}

        {# check to see if profile matches currrent user #}
        {% if (app.user.username == entity.username and entity.progress.name!='Faculty')  or is_granted('ROLE_SUPER_ADMIN') %}
            {% if entity.notifications %}
                {% set count_notifications = notifications|length %}
                {# count checkpoint deadlines #}
                {% if entity.capstone %}
                    {% for checkpoint in entity.capstone.project.checkpoints %}
                        {% if checkpoint.deadline %}
                            {% if "now"|date('Y-m-d') > checkpoint.deadline|date|date('Y-m-d')  and checkpoint.status!='Complete' %}
                                {% set overdue = overdue + 1 %}
                            {% endif %}
                            {% if "now"|date('Y-m-d') <= checkpoint.deadline|date|date('Y-m-d')  and checkpoint.status!='Complete' %}
                                {% set upcoming = upcoming + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if overdue > 0 %}{% set count_notifications = count_notifications + 1 %}{% endif %}
                    {% if upcoming > 0 %}{% set count_notifications = count_notifications + 1 %}{% endif %}
                {% endif %}


                <div id="notifications" class="profile">
                    <h3 class="">Notifications</h3>

                    {% for notification in notifications %}
                        {% set background %}
                            {% if notification.status=='New' %}alert-success
                            {% elseif notification.status=='Shared' %}alert-success
                            {% else %}#dbf8ff
                            {% endif %}
                        {% endset %}
                        <div class="alert {{ background }} margin">
                            <strong>{{ notification.date |date("m/d/Y g:ia") }}</strong>
                            <br/>
                            {% if notification.post %}
                                {{ notification.post.body|raw }}
                            {% endif %}
                            {{ notification.body|raw }}
                            {% if notification.status!='Shared' %}
                                <a class="btn btn-primary  "
                                   href="{{ path('notification_dismiss',  { 'id': notification.id }) }}">
                                    Dismiss
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}

                    {# notifications for checkpoints #}
                    {% if upcoming > 0 %}
                        <div class="alert alert-info margin">You have {{ upcoming }} upcoming
                            Capstone Checkpoints
                        </div>
                    {% endif %}
                    {% if overdue > 0 %}
                        <div class="alert alert-danger margin">You have {{ overdue }} overdue
                            Capstone Checkpoints
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}



        {#  *********************** Director Notes ***********************  #}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div id="directornotes" class="profile">
                <h3>Director Notes</h3>
                <p>{{ entity.notes |raw }}
                    {% if entity.notes|length < 1 %}No notes yet.{% endif %}
                </p>
                <p>Updated: {{ entity.notesChanged|date("m/d/Y g:ia") }}</p>
                <p>Last login: {{ entity.lastLogin|date("m/d/Y g:ia") }}</p>
            </div>
        {% endif %}



        {#  *********************** Mentoring ***********************  #}
        {# check to see if profile matches currrent user and is not Faculty #}
        {% if (app.user.username == entity.username and entity.progress.name!='Faculty') or is_granted('ROLE_SUPER_ADMIN') %}
            {#  *** Check for application****  #}
            {% if entity.program %}
                <div id="mentoring" class="profile">
                    <h3>Peer Mentoring</h3>
                    {% if entity.peermentor %}
                        <span class="alert alert-info">
                                                    Your mentor is {{ entity.peermentor.firstname }} {{ entity.peermentor.lastname }}
                            ({{ entity.peermentor.email }})
                                                </span>
                    {% endif %}
                    {% if entity.peermentees|length > 0 %}
                        <span class="alert alert-info">Thanks for serving as a certificate mentor.
                                                    Your mentee{% if entity.peermentees|length > 1 %}s are{% else %} is {% endif %}
                            {% for mentee in entity.peermentees %}
                                {% if loop.last %}and{% endif %}
                                {{ mentee.firstname }} {{ mentee.lastname }} ({{ mentee.email }})
                            {% endfor %}
                                                </span>
                    {% endif %}

                    <div class="alert alert-info margin-top" role="alert">
                        <strong>Requirements for Mentees/Mentors are as follows:</strong>
                        <ul>
                            <li>Mentees and Mentors must attend orientation</li>
                            <li>Mentees and Mentors must have at least one face-to-face meeting</li>
                            <li>Mentees and Mentors should celebrate the end of the term together at
                                Semester in Review
                            </li>
                        </ul>
                        <strong>Requirements for application to be a Mentor:</strong>
                        <ul>
                            <li>Can only apply if they are a sophomore or higher and have participated in at
                                least
                                one Sustainability Seminar
                            </li>
                            <li>All students must learn to smell the roses and appreciate the sunshine</li>
                        </ul>
                        <p>Read more about out mentoring program <a
                                    href="{{ path('page_show',  { 'id': '42' }) }}">here</a>.</p>
                    </div>

                    {% for tag in entity.tags if tag.title == 'Mentoring' %}
                    {% else %}
                        <a class="btn btn-primary margin-left"
                           href="{{ path('user_mentee',  { 'id': entity.id }) }}">
                            I'd like to have a Mentor.
                        </a>
                        <a class="btn btn-primary margin-left"
                           href="{{ path('user_mentor',  { 'id': entity.id }) }}">
                            I'd like to be a Mentor.
                        </a>
                    {% endfor %}

                </div>
            {% endif %}
        {% endif %}

        {# check to see if profile matches currrent user and is not Faculty #}
        {% if (app.user.username == entity.username and entity.progress.name!='Faculty') or is_granted('ROLE_SUPER_ADMIN') %}


            {#  *********************** Portfolio  ***********************  #}
            {% if entity.checklist %}
                <div id="portfolio" class="profile">
                    <h5 class="mb-0">Portfolio</h5>

                    <div class="alert alert-info margin-top" role="alert">
                        <p>For more information about your portfolio, see our <a
                                    href="{{ path('page_show',  { 'id': '16'}) }}">
                                Porfolio Guidelines.
                            </a>
                        </p>
                    </div>
                    <a href="{{ entity.checklist.portfolio }}"
                       target="_blank">{{ entity.checklist.portfolio }}</a>
                </div>
            {% endif %}
        {% endif %}




        {#  *********************** Capstones For Review *********************** #}
        {# check to see if user is Faculty and has capstone mentees #}
        {% if is_granted('ROLE_MENTOR') %}
            <div id="capstonesforreview">
                <h3>Capstones for your Review</h3>
                {% if entity.capstoneMentees %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name (Email)</th>
                            <th>School: Program</th>
                            <th>Capstone Term</th>
                            <th>Graduation Term</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entity.capstoneMentees %}
                            <tr>
                                <td>
                                    <a href="{{ path('capstone_show', { 'id': entity.user.id }) }}">{{ entity.user.lastname }}
                                        , {{ entity.user.firstname }}</a> ({{ entity.user.email }})
                                </td>
                                <td>
                                    {% if entity.user.program %}
                                        {% if entity.user.program.school1 %}{{ entity.user.program.school1.name }}{% else %}{{ entity.user.program.school }}{% endif %}
                                        {% if entity.user.program.major1 %}:: {{ entity.user.program.major1.name }}{% else %}{{ entity.user.program.program }}{% endif %}
                                        {% if entity.user.program.school2 %}{{ entity.user.program.school2.name }}{% endif %}
                                        {% if entity.user.program.major2 %}:: {{ entity.user.program.major2.name }}{% endif %}
                                    {% endif %}


                                </td>
                                <td>
                                    {% if entity.user.checklist %}
                                        {{ entity.user.checklist.capstonedate }} {{ entity.user.checklist.capstoneterm }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if entity.user.program %}
                                        {{ entity.user.program.graddate }} {{ entity.user.program.gradterm }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have no capstones for review at this time.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}