{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-12">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-default pull-right" href="{{ path('user_edit', { 'id': entity.id }) }}">
                User Edit
            </a>
            <a class="btn btn-default pull-right" href="{{ path('user') }}">
                List Users
            </a>
        {% endif %}
        <h1>{{ entity.firstname }} {{ entity.lastname }}</h1>
        {% if entity.progress %}<p>Certificate Progress: {{ entity.progress.name }}</p>{% endif %}
        <p>Last login:  {{ entity.lastLogin|date("m/d/Y g:ia") }}</p>
        {% if is_granted('ROLE_ADMIN') %}

            <a href="#collapse_notes" class="" data-toggle="collapse"><h3>Director notes</h3></a>
            <div id="collapse_notes" class="collapse in">
                <p>{{ entity.notes |raw }}
                {% if entity.notes|length < 1 %}No notes yet.{% endif %}
                </p>
                <p>Updated:  {{ entity.notesChanged|date("m/d/Y g:ia") }}</p>
            </div>
        {% endif %}

        <div class="col-sm-4">
            <a href="#collapse_application" class="" data-toggle="collapse"><h3 class="inline">Application</h3></a>
            {% if entity.program %}
                {% if is_granted('ROLE_ADMIN') and entity.program.status != 'Approved' %}
                    <a title="Approve this application" class="btn btn-primary  align-right"
                       href="{{ path('program_approve',  { 'id': entity.program.id }) }}">
                        Approve App
                    </a>
                {% endif %}
                <a title="Update your application" class="btn btn-primary  align-right"
                   href="{{ path('program_edit',  { 'id': entity.program.id }) }}">
                    Update
                </a>
            {% else %}
                <a title="Get started on your application" class="btn btn-primary  align-right" href="{{ path('program_new') }}">
                    Get Started
                </a>
            {% endif %}
            <p>Please fill out the Application form completely. You may return to edit it at any time. You will be
                notified by the Director when your application is approved.</p>



            <div id="collapse_application" class="collapse in">
                {% if entity.program %}
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th>School</th>
                            <td>{{ entity.program.school }}</td>
                        </tr>
                        <tr>
                            <th>Program</th>
                            <td>{{ entity.program.program }}</td>
                        </tr>
                        <tr>
                            <th>Uga Id</th>
                            <td>{{ entity.program.ugaid }}</td>
                        </tr>
                        <tr>
                            <th>Level</th>
                            <td>{{ entity.program.level }}</td>
                        </tr>
                        <tr>
                            <th>Previous Degree(s)</th>
                            <td>{{ entity.program.degree }}</td>
                        </tr>
                        <tr>
                            <th>Previous Institution(s)</th>
                            <td>{{ entity.program.institution }}</td>
                        </tr>
                        <tr>
                            <th>Expected Graduation</th>
                            <td>{{ entity.program.graddate }} {{ entity.program.gradterm }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ entity.program.address }}</td>
                        </tr>
                        <tr>
                            <th>City State Zip</th>
                            <td>{{ entity.program.cityst }}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{ entity.program.country }}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ entity.program.phone }}</td>
                        </tr>
                        <tr>
                            <th>Areas of Interest</th>
                            <td>{% for area in entity.program.area %}{{ area }} {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Interest in Sustainability</th>
                            <td>{{ entity.program.interest | raw }}</td>
                        </tr>
                        <tr>
                            <th>Experience</th>
                            <td>{{ entity.program.experience | raw }}</td>
                        </tr>
                        <tr>
                            <th>Goals</th>
                            <td>{{ entity.program.goals | raw }}</td>
                        </tr>
                        <tr>
                            <th>Application Status</th>
                            <td>{{ entity.program.status }}</td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td>{{ entity.program.updated |date("m/d/Y g:ia")}}</td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>


        <div class="col-sm-4">
                <a href="#collapse_checklist" class="" data-toggle="collapse"><h3 class="inline">Checklist</h3></a>
                {% if entity.checklist %}
                    <a title="Update your checklist" class="btn btn-primary align-right "
                       href="{{ path('checklist_edit',  { 'id': entity.checklist.id }) }}">
                        Update
                    </a>
                {% else %}

                    <a title="Get started on your checklist" class="btn btn-primary  align-right {% if not entity.program %}disabled{% endif %}"
                       href="{{ path('checklist_new') }}">
                        Get Started
                    </a>
                {% endif %}

            <p>The checklist allows you to track your progress through the program. Please update regularly.</p>



            <div id="collapse_checklist" class="collapse in ">
                {% if entity.checklist %}
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Anchor</th>
                            <td>{% if entity.checklist.anchor %}{{ entity.checklist.anchor.name }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Ecological Sphere</th>
                            <td>{% if entity.checklist.sphere1 %}{{ entity.checklist.sphere1.name }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Economic Sphere</th>
                            <td>{% if entity.checklist.sphere2 %}{{ entity.checklist.sphere2.name }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Social Sphere</th>
                            <td>{% if entity.checklist.sphere3 %}{{ entity.checklist.sphere3.name }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Seminar</th>
                            <td>{% if entity.checklist.seminar %}{{ entity.checklist.seminar.name }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Capstone</th>
                            <td>{% if entity.checklist.capstone %}{{ entity.checklist.capstone.name }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Portfolio</th>
                            <td><a href="{{ entity.checklist.portfolio }}"
                                   target="_blank">{{ entity.checklist.portfolio }}</a></td>
                        </tr>
                        <tr>
                            <th>Exceptions</th>
                            <td>{{ entity.checklist.exceptions | raw }}</td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td>{{ entity.checklist.updated | date("m/d/Y g:ia") }}</td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>


        <div class="col-sm-4">
            <a href="#collapse_capstone" class="" data-toggle="collapse"><h3 class="inline">Capstone</h3></a>
            {% if entity.capstone %}
                <a title="Update your capstone" class="btn btn-primary align-right"
                   href="{{ path('capstone_edit',  { 'id': entity.capstone.id }) }}">
                    Update
                </a>

            {% else %}
                <a title="Get started on your capstone" class="btn btn-primary align-right {% if not entity.checklist %}disabled{% endif %}"
                   href="{{ path('capstone_new') }}">
                    Get Started
                </a>
            {% endif %}

            <p>The capstone projects provides an opportunity for you to apply your classroom learning to hands-on
                sustainability challenges. For details, please review the information under the <strong>Student</strong>
                heading of the website.
                You will be notified by the Director when your application is approved.</p>




            <div id="collapse_capstone" class="collapse in">

                {% if entity.capstone %}
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Title</th>
                            <td>{{ entity.capstone.title }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ entity.capstone.type }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ entity.capstone.description |raw }}</td>
                        </tr>
                        <tr>
                            <th>Steps</th>
                            <td>{{ entity.capstone.steps|raw }}</td>
                        </tr>
                        <tr>
                            <th>Application</th>
                            <td>{{ entity.capstone.application|raw }}</td>
                        </tr>
                        <tr>
                            <th>Mentor</th>
                            <td>{{ entity.capstone.mentor }}</td>
                        </tr>
                        <tr>
                            <th>Timeframe</th>
                            <td>{{ entity.capstone.timeframe }}</td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td>{{ entity.capstone.updated |date("m/d/Y g:ia") }}</td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>


        </div>
    </div>
    {% endblock %}
