{% extends 'AppBundle:User:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
        });
    </script>
{% endblock %}


{% block body -%}
    {{ parent() }}
    <div class="col-sm-12">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        {# Name and notes #}
        <h2 class="margin-top">Profile for {{ entity.firstname }} {{ entity.lastname }}</h2>
        {% for tag in entity.tags %}
            <div class="btn btn-primary btn-sm tag{{ tag.id }}"
                 style="background-color: {{ tag.color }}">{{ tag.title }}</div>
        {% endfor %}
        <div class="alert alert-info margin-top" role="alert">
            <p>Your profile includes basic information about you. You may update it at any time.
            </p>
        </div>

        <a class="btn btn-primary"
           href="{{ path('user_edit',  { 'id': entity.id }) }}">
            Update Profile
        </a>

        {#<a class='btn btn-primary' href="{{ path('pdf',  { 'id': entity.id }) }}">#}
        {#Create PDF#}
        {#</a>#}
        <br/>


        {{ entity.email }}<br/>
        {% if entity.altemail %}{{ entity.altemail }}<br/>{% endif %}
        {% if entity.program %}
            {% if entity.program.school1 %}{{ entity.program.school1.name }}{% else %}{{ entity.program.school }}{% endif %}
            {% if entity.program.major1 %}:: {{ entity.program.major1.name }}{% else %}{{ entity.program.program }}{% endif %}
            {% if entity.program.school2 %}{{ entity.program.school2.name }}{% endif %}
            {% if entity.program.major2 %}:: {{ entity.program.major2.name }}{% endif %}<br/>
        {% endif %}
        Graduation: {{ entity.graddate }} {{ entity.gradterm }}<br/>
        {% if entity.placement != '' %}After Graduation Placement: {{ entity.placement }}{% endif %}
        <br/><br/>
        {#  *********************** Application Prompt  ***********************  #}
        <div class="alert alert-info" role="alert">
            <p>Please fill out the Application form completely. You may return to edit it at any
                time.</p>
            <p>When you have completed the application, click <strong>Ready for Review.</strong>
                You will be notified by the Director when your application is approved.</p>
        </div>
        {% if entity.program.status != 'Approved' %}
            <a class="btn btn-primary"
               href="{{ path('program_edit',  { 'id': entity.program.id }) }}">
                Open Application
            </a>
        {% endif %}


        {#  *********************** Portfolio  ***********************  #}
        {% if entity.checklist %}
            <div id="portfolio" class="profile">
                <h3>Portfolio</h3>

                <div class="alert alert-info margin-top" role="alert">
                    <p>For more information about your portfolio, see our <a
                                href="{{ path('page_show',  { 'id': '16'}) }}">
                            Porfolio Guidelines.
                        </a>
                    </p>
                </div>
                <a href="{{ entity.checklist.portfolio }}"
                   target="_blank">{{ entity.checklist.portfolio }}</a>
                <hr/>
            </div>
        {% endif %}


        {#  *********************** Director Notes ***********************  #}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div id="directornotes" class="profile">
                <h3>Director Notes</h3>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <p>
                        {% for role in entity.roles %}
                            {{ role }}
                        {% endfor %}
                    </p>
                {% endif %}
                <p>{{ entity.notes |raw }}
                    {% if entity.notes|length < 1 %}No notes yet.{% endif %}
                </p>
                <p>Updated: {{ entity.notesChanged|date("m/d/Y g:ia") }}</p>
                <p>Last login: {{ entity.lastLogin|date("m/d/Y g:ia") }}</p>
                <hr/>
            </div>

        {% endif %}


        {#  *********************** Capstones For Review *********************** #}
        {# check to see if user is Faculty and has capstone mentees #}
        {% if entity.capstoneMentees|length > 0 %}
            <div id="capstonesforreview" class="profile">
                <h3>Capstones for your Review</h3>
                {% if entity.capstoneMentees %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name (Email)</th>
                            <th>School: Program</th>
                            <th>Capstone Term</th>
                            <th>Graduation Term</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entity.capstoneMentees %}
                            <tr>
                                <td>
                                    <a href="{{ path('capstone_show', { 'id': entity.user.id }) }}">{{ entity.user.lastname }}
                                        , {{ entity.user.firstname }}</a> ({{ entity.user.email }})
                                </td>
                                <td>
                                    {% if entity.user.program %}
                                        {% if entity.user.program.school1 %}{{ entity.user.program.school1.name }}{% else %}{{ entity.user.program.school }}{% endif %}
                                        {% if entity.user.program.major1 %}:: {{ entity.user.program.major1.name }}{% else %}{{ entity.user.program.program }}{% endif %}
                                        {% if entity.user.program.school2 %}{{ entity.user.program.school2.name }}{% endif %}
                                        {% if entity.user.program.major2 %}:: {{ entity.user.program.major2.name }}{% endif %}
                                    {% endif %}


                                </td>
                                <td>
                                    {% if entity.user.checklist %}
                                        {{ entity.user.checklist.capstonedate }} {{ entity.user.checklist.capstoneterm }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if entity.user.program %}
                                        {{ entity.user.program.graddate }} {{ entity.user.program.gradterm }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have no capstones for review at this time.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}