{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            {% for tag in tags if tag.subs|length > 0 %}
                <a href="{{ path('user_table', { 'tag': tag.title }) }}" id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                     style="background-color: {{ tag.color }}">{{ tag.title }}</a>
                {% for tag in tag.subs %}
                    <a href="{{ path('user_table', { 'tag': tag.title }) }}" id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                         style="background-color: {{ tag.color }}">{{ tag.title }}</a>
                {% endfor %}
            {% endfor %}
            {% for tag in tags if tag.top|length == 0 and tag.subs|length == 0 %}
                <a href="{{ path('user_table', { 'tag': tag.title }) }}" id="{{ tag.id }}" class="btn btn-primary btn-sm tag_filter"
                     style="background-color: {{ tag.color }}">{{ tag.title }}</a>
            {% endfor %}

            <table class="table">
                <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Portfolio</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.lastname }}</td>
                        <td>{{ entity.firstname }}</td>
                        <td>{{ entity.email }}</td>
                        <td>{% if entity.checklist %}<a href="{{ entity.checklist.portfolio }}" target="_blank">{{ entity.checklist.portfolio }}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                          {% if entity.capstone %}{{ entity.capstone.description|raw }}{% endif %}</td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>Email
                list: <span id="email_list">{% for entity in entities %}{{ entity.email }}{% if not loop.last %}; {% endif %}{% endfor %}</span></p>

        </div>

    </div>

{% endblock %}
