{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar navbar-light">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% for page in entity.section.pages %}
                                {% if (page.link is null or page.link == '') %}
                                    <li class="nav-item"><a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a></li>
                                {% else %}
                                    <li class="nav-item" ><a href="{{ page.link }}">{{ page.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">
            {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-primary float-xs-right" href="{{ path('page_edit', { 'id': entity.id }) }}">Edit</a>{% endif %}
            <h1>{{ entity.title }}</h1>
            {{ entity.body|raw }}
        </div>
    </div>
{% endblock %}
