{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
    <script language="javascript">
        $(document).ready(function () {
            var rule = "<hr/>";
            $('.hr ').after(rule);
        });
    </script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-8 offset-sm-2 col-xs-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
