{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-2">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar  navbar-dark bg-inverse">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-nav">
                            {% if section is defined %}
                                {% for page in section.pages %}
                                    {% if (page.link is null or page.link == '') %}
                                        <li class="nav-item"><a
                                                    href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a href="{{ path('faculty_new') }}">
                                        New Listing
                                    </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-10">
            <h1>
                {% if entities %}
                    {% if entities[0].status =='affliate' %}Affliate Faculty
                    {% elseif entities[0].status =='advisory' %}Advisory Board
                    {% else %}Emeritus
                    {% endif %}
                {% endif %}
            </h1>


            <table class="table sort">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Dept</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('faculty_show', { 'id': entity.id }) }}">{{ entity.firstname }} {{ entity.lastname }}</a>
                        </td>
                        <td>{{ entity.dept }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a class="btn btn-primary"
                                   href="{{ path('faculty_edit', { 'id': entity.id }) }}">edit</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>






{% endblock %}
