{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if section is defined %}
                                {% for page in section.pages %}
                                    {% if (page.link is null or page.link == '') %}
                                        <li class="nav-item"><a
                                                    href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a href="{{ path('faculty_new') }}">
                                        New Listing
                                    </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-9">

            {% if entities %}
                {% if app.request.get('status') =='all' %}
                    <h1>Affiliate Faculty</h1>
                    <p>Affiliate Faculty meet one or more of the following:</p>

                    <ul>
                        <li>a member of this Faculty shall be a regular teacher of an approved course in the Certificate
                            Program, or
                        </li>
                        <li>shall have within the past two years directed a capstone project for the Certificate or</li>
                        <li>shall be engaged in research or publication in the area of the Certificate.</li>
                    </ul>
                {% elseif entities[0].status =='advisory' %}
                    <h1>Advisory Board</h1>
                    <p>The Advisory Board serves as the certificate steering committee and meets at least once per
                        semester to support and advise the Director of the program.</p>
                    <p>The Advisory Board is comprised of the Director and representatives from each participating
                        college, the Center for Integrative Conservation Research, Office of Sustainability, Graduate
                        School, and additional faculty as needed to provide balanced representation from each area of
                        sustainability (economic, social, and ecological). Board members will serve two-year renewable
                        terms.</p>
                    <p>One chief task of the Board is to review courses for inclusion in the certificate. The Director
                        will compile and forward a list of nominated courses to the Board for approval at least once a
                        semester. The Board will periodically review courses previously submitted to make sure their
                        inclusion in the certificate remains appropriate.</p>
                    <p>Other responsibilities of the Board include identifying the academic home for the certificate
                        with input from participating deans on a 3-year rotation or renewal basis, selecting the program
                        Director, advising the Director regarding student capstone projects and internships as needed,
                        overseeing disbursement and use of certificate program funds, and generally serving as
                        ambassadors of the certificate, encouraging students, recruiting faculty participation, and
                        periodically attending or presenting at the certificate seminar.</p>
                {% else %}
                    <h1>Emeritus</h1>
                {% endif %}
            {% endif %}


            <table class="table sort">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Dept</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('faculty_show', { 'id': entity.id }) }}">{{ entity.firstname }} {{ entity.lastname }}</a>
                        </td>
                        <td>{{ entity.dept }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a class="btn btn-primary"
                                   href="{{ path('faculty_edit', { 'id': entity.id }) }}">edit</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
            <p>Email list: {% for entity in entities %}{{ entity.email }}{% if not loop.last %}; {% endif %}{% endfor %}</p>
            {% endif %}
        </div>
    </div>






{% endblock %}
