{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            {% if section is defined %}
                                {% for page in section.pages if page.access=='public' %}
                                    {% if (page.link is null or page.link == '') %}
                                        <li class="nav-item"><a
                                                    href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item"><strong>Admin</strong></li>
                                    {% for page in section.pages if page.access=='admin' %}
                                        {% if (page.link is null or page.link == '') %}
                                            <li class="nav-item"><a
                                                        href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a>
                                            </li>
                                        {% else %}
                                            <li class="nav-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary pull-xs-right" href="{{ path('faculty_edit', { 'id': entity.id }) }}">
                    Edit</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') and not entity.user %}
                <a class="btn btn-primary pull-xs-right" href="{{ path('faculty_account', { 'id': entity.id }) }}">
                    Create Account</a>
            {% endif %}
            <h1>{{ entity.firstname }} {{ entity.lastname }}</h1>
            {% for tag in entity.tags %}<div class="btn btn-primary btn-sm" style="background-color: {{ tag.color }}">{{ tag.title }}</div>{% endfor %}
            {% if entity.status =='advisory' %}<p class="margin-top">Advisory Board</p>{% endif %}
            {% if entity.mentor =='yes' %}<p>{{ entity.firstname }} {{ entity.lastname }} is willing to mentor a capstone project.</p>{% endif %}
            {% if entity.photo != '' %}
                <img class="img-rounded img-responsive pull-right" style="max-width: 30%; margin: 20px;"
                     alt="{{ entity.firstname }} {{ entity.firstname }}" src="{{ entity.photo }}"/>
            {% endif %}

            <p>{{ entity.dept }}</p>
            <p>{{ entity.email }}</p>
            <p>{{ entity.detail|raw }}</p>

            {% if entity.courses|length > 0 %}
                <table class="table sort">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th class="hidden-xs-down">Offered</th>
                        <th class="hidden-xs-down">Prereqs</th>
                        <th class="hidden-xs-down">Requirement</th>
                        <th class="hidden-xs-down">Level</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entity.courses %}
                        <tr>
                            <td><a href="{{ path('course_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                            <td>{{ entity.title }}</td>
                            <td class="hidden-xs-down">{{ entity.offered }}</td>
                            <td class="hidden-xs-down">{{ entity.prereqs }}</td>
                            <td class="hidden-xs-down">{{ entity.pillar }}</td>
                            <td class="hidden-xs-down">{{ entity.level }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td class="hidden-xs-down">
                                    <a class="btn btn-primary"
                                       href="{{ path('course_edit', { 'id': entity.id }) }}">edit</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock %}
