{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Program list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>School</th>
                <th>Program</th>
                <th>Ugaid</th>
                <th>Level</th>
                <th>Degree</th>
                <th>Institution</th>
                <th>Graddate</th>
                <th>Address</th>
                <th>Cityst</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Area</th>
                <th>Interest</th>
                <th>Experience</th>
                <th>Goals</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('program_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.school }}</td>
                <td>{{ entity.program }}</td>
                <td>{{ entity.ugaid }}</td>
                <td>{{ entity.level }}</td>
                <td>{{ entity.degree }}</td>
                <td>{{ entity.institution }}</td>
                <td>{{ entity.graddate }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.cityst }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.area }}</td>
                <td>{{ entity.interest }}</td>
                <td>{{ entity.experience }}</td>
                <td>{{ entity.goals }}</td>
                <td>{{ entity.notes }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('program_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('program_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('program_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
