{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            <li><a href="{{ path('section_new') }}">
                                    New Section
                                </a></li>
                            <li><a href="{{ path('section') }}">
                                    List Sections
                                </a></li>
                            <li><a href="{{ path('page_new') }}">
                                    New Page
                                </a></li>
                            <li><a href="{{ path('page') }}">
                                    List Pages
                                </a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
        <div class="col-sm-8">
            <h1>Sections</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Header</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('section_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                        <td>{{ entity.header|raw }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
