{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-3">
            <div class="bootstrap-vertical-nav">

                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                        <ul class="nav navbar-sidenav">
                            <li><a href="{{ path('section_new') }}">
                                    New Section
                                </a></li>
                            <li><a href="{{ path('section') }}">
                                List Sections
                            </a></li>
                            <li><a href="{{ path('section_edit', { 'id': entity.id }) }}">
                                Edit Section
                            </a></li>
                            <li><a href="{{ path('page_new') }}">
                                New Page
                            </a></li>
                            <li><a href="{{ path('page') }}">
                                    List Pages
                                </a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-8">
            {% if is_granted('ROLE_ADMIN') %}

            {% endif %}
            <h1>Section</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Title</th>
                    <td>{{ entity.title }}</td>
                </tr>
                <tr>
                    <th>Header</th>
                    <td>{{ entity.header|raw }}</td>
                </tr>
                </tbody>
            </table>


            <h2>Pages</h2>
            <table class="table">
                <thead>
                <tr class="sr-only">
                    <th>Title</th>
                    <th>Body</th>
                </tr>
                </thead>
                <tbody>
                {% for page in entity.pages %}
                    <tr>
                        <td><a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.title }}</a></td>
                        <td>{{ page.body|slice(0, 100)| raw }}. . .{% if is_granted('ROLE_ADMIN') %}<a class="btn btn-primary pull-xs-right" href="{{ path('page_edit', { 'id': page.id }) }}">Edit</a>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
